In [1]:
#%matplotlib inline
import pandas as pd
from pandas import DataFrame
from pandas.io import sql
from pandas.tseries.offsets import *
import numpy as np
from pprint import pprint
# import pylab as plt
import pymysql
# import seaborn
# from matplotlib import pyplot
from datetime import datetime,timedelta
import csv
import math
pd.options.display.float_format = '{:,.2f}'.format
import json
from IPython.display import display, HTML
from sqlalchemy import create_engine

In [2]:
ubs_include_list = ['Tokai', 'Japan Equity Research']

In [3]:
with open('config.json') as f:
    conf = json.load(f)

In [4]:
con = pymysql.connect(host=conf['host'], user=conf['user'], passwd=conf['password'], db=conf['database'])
engine = create_engine('mysql+pymysql://root:root@localhost:3306/hkg02p', echo=False)

In [5]:
def get_trades(year):
    """
    return all trades from start of year
    :param year: the year to get trades
    :return: DataFrame of all trades of year
    """

    start_date = '{}-01-01'.format(year)
    
    query = """
        SELECT a.code, a.fundCode, a.orderType, a.side, a.swap, a.tradeDate, a.PB, 
              g.commrate as gcomrate, d.brokerCommissionRate,
              # a.commission,
              (@commInUSD := a.commission*f.rate) AS commInUSD,
              (@commrate := IF (g.commrate IS NOT NULL, ROUND(g.commrate,4), ROUND(d.brokerCommissionRate,4))) AS CommRate,
              (@jpresearch := IF(b.currencyCode IN ("JPY", "USD") AND c.instrumentType="EQ" AND  (@commrate<> 0.0004), 
                  @commInUSD*11/15,0)*1.0) AS JPResearch,
                  IF(b.currencyCode IN ("JPY", "USD") AND c.instrumentType="EQ" AND (@commrate=0.0004), 
                      @commInUSD, 
                      0)*1.0 AS JPDis,
              (@clearing:=
              IF (c.instrumentType IN ("FU", "OP"), 
                  IF(SUBSTRING(a.code, 1, 2) IN ("TP", "NK"), 500, 
                    IF(SUBSTRING(a.code, 1, 2)="JP",50, 
                    IF(SUBSTRING(a.code, 1, 2) IN ("HC", "HI"), 30, 0) 
                )
               ) * a.quantity *f.rate, 0  )) AS Clearing,
              IF(b.currencyCode IN ("JPY", "USD")  AND c.instrumentType="EQ" AND (@commrate=0.0004 OR @commrate=0),
                  0,
                  IF(b.currencyCode IN ("JPY", "USD")  AND c.instrumentType="EQ",
                  @commInUSD - @jpresearch,
                  IF(b.currencyCode="JPY" AND c.instrumentType IN ("FU", "OP"), 
                  @commInUSD - @clearing,0) )) AS JPExec,
              d.brokerCode, c.instrumentType, b.currencyCode,
              IF(d.brokerCode="BXS", "Soft", IF(d.brokerCode="INSH", "Nomura",e.name)) AS brokerName,
              (@tax := CASE CONCAT(c.instrumentType, a.orderType, b.currencyCode)
                        WHEN "EQBCNY" THEN 0.000098
                        WHEN "EQSCNY" THEN 0.001098
                        WHEN "EQBHKD" THEN 0.00108
                        WHEN "EQSHKD" THEN 0.00108
                        WHEN "EQSTWD" THEN 0.003
                        WHEN "EQSKRW" THEN 0.003
                        WHEN "EQBSGD" THEN 0.0004
                        WHEN "EQSSGD" THEN 0.0004
                        ELSE 0
                        END
              ) AS tax,
              (@asiadeal := IF (b.currencyCode  NOT IN ("JPY", "USD")  AND c.instrumentType="EQ" AND d.brokerCommissionRate > 0.01,
                                a.gross * f.rate * (d.brokerCommissionRate - @tax ), 0)) AS asiaDeal,
              (@asiaResearch := IF(b.currencyCode  NOT IN ("JPY", "USD")  AND c.instrumentType="EQ" AND @asiadeal=0, 
                IF(d.brokerCommissionRate-@tax-0.0005>= 0, d.brokerCommissionRate-@tax-0.0005, 0) *f.rate*a.gross, 0)) AS asiaResearch,
              IF (b.currencyCode NOT  IN ("JPY", "USD")  AND c.instrumentType="EQ" AND @asiadeal=0,
                0.0005 * f.rate * a.gross,
                IF (b.currencyCode NOT IN ("JPY", "USD")  AND c.instrumentType IN ("FU", "OP"), @commInUSD-@clearing, 0)
              ) AS asiaExecution,
              IF (a.swap="SWAP", @asiaResearch, 0)*1.0 AS HCSwaps
            FROM t08Reconcile a
              INNER JOIN t01Instrument c ON a.code = c.quick
              INNER JOIN t02Currency b ON b.currencyID = c.currencyID
              INNER JOIN t08Reconcile d ON a.matchDoric = d.primaryID # a.primaryID = d.matchBrokers AND d.srcFlag ="D"
              INNER JOIN t06DailyCrossRate f ON f.priceDate=a.tradeDate AND f.base=b.currencyCode AND f.quote="USD"
              LEFT JOIN t02Broker e ON e.brokerCode = a.brokerCode
              left join (select a.code, a.orderType, a.side, a.swap, a.tradeDate, a.settleDate, a.brokerCode, MAX(a.brokerCommissionRate) as commrate
            from t08Reconcile a
            where a.status="A" and a.srcFlag="D" and a.tradeDate >= {}
            group by a.code, a.orderType, a.side, a.swap, a.tradeDate, a.settleDate, a.brokerCode
              ) g ON a.code=g.code and a.orderType=g.orderType and a.side=g.side and a.swap=g.swap and a.tradeDate=g.tradeDate
                     and a.settleDate=g.settleDate  and d.brokerCode=g.brokerCode
            WHERE a.tradeDate>='{}' AND a.srcFlag="K"
            ORDER BY a.tradeDate, a.code;
        """.format(start_date, start_date)
    
#     print(query)

    ytd_trades = sql.read_sql(query, con, parse_dates=['tradeDate'], index_col='tradeDate')
    return ytd_trades

In [6]:
def get_quarter_trades(year, quarter, ytd_trades):
    if quarter == 1:
        start = '{}-01-01'.format(year)
        end = '{}-03-31'.format(year)
    elif quarter == 2:
        start = '{}-04-01'.format(year)
        end = '{}-06-30'.format(year)
    elif quarter == 3:
        start = '{}-07-01'.format(year)
        end = '{}-09-30'.format(year)
    elif quarter == 4:
        start = '{}-10-01'.format(year)
        end = '{}-12-31'.format(year)
    else:
        return None
    return ytd_trades[start:end]

In [7]:
def format_2f(df):
    t = df.copy()
    columns = ['JPResearch', 'JPExec', 'JPDis', 'res_target', 'balance_usd']
    t[columns] = t[columns].applymap(lambda x: '$ {:12,.0f}'.format(x) if x != 0 else '')
    t['balance_jpy'] = t['balance_jpy'].apply(lambda x: 'Â¥ {:12,.0f}'.format(x) if x != 0 else '')
    t['rank'] = t['rank'].apply(lambda x: '{:.0f}'.format(x) if not np.isnan(x) else '')
    t['research'] = t['research'].apply(lambda x: '{:5.2f}%'.format(x) if x > 0 else '')
    t['accrued'] = t['accrued'].apply(lambda x: '{:5.0f}%'.format(x) if not np.isnan(x) else '')
    t['exec_target'] = t['exec_target'].apply(lambda x: '{:5.0f}%'.format(x) if x > 0 else '')
    return t

In [8]:
def calculate_columns(quarter_trades, jp_ranks_df, jp_quarter_commission_budget, usd_jpy, 
                      ubs_include_list=[], clsa_asia_target=0):
    
    def zero_out_ubs_include(df, ubs_include_list):
        """ assume index is brokerName, and balance_usd column is already created
        """
        t = df.copy()
        for broker in ubs_include_list:
            t.loc[broker, 'balance_usd'] = 0
            
        return t
    
    rank_df = jp_ranks_df.copy()
    balance = rank_df['balance']
    for broker in ubs_include_list:
        rank_df.loc['UBS', 'research'] += rank_df.loc[broker, 'research']
    
    rank_df.loc['UBS', 'research'] += clsa_asia_target
        
    ranked_df = (quarter_trades
             .groupby(['brokerName', 'currencyCode'])
             .sum()
             .loc[(slice(None), ['JPY', 'USD']), ['JPResearch', 'JPExec', 'JPDis']]
             .groupby(level=0).sum()
             .reset_index()
             .set_index('brokerName')
             .merge(rank_df, how='right', left_index=True,
                    right_index=True)  # some names removed like Barclays and Softs
             .fillna(0)
             .sort_values(by='rank', axis=0)
                )
    bal = balance.reindex(ranked_df.index)
    table = (ranked_df
             .assign(res_target=lambda df: df['research'] * jp_quarter_commission_budget / 100 + (bal if bal is not None else 0) )
             .assign(balance_usd=lambda df: df['res_target'] - df['JPResearch'] )
             .pipe(zero_out_ubs_include, ubs_include_list)
             .assign(balance_jpy=lambda df: df['balance_usd'] * usd_jpy)
             .assign(accrued=lambda df: (df['JPExec'] + df['JPDis']) * 100 / (df['JPExec'].sum() + df['JPDis'].sum()))
             .reset_index()
             .set_index('rank')
             )
    
    return table

In [9]:
def calculate_commission(quarter_trades, jp_ranks_df, jp_quarter_commission_budget, usd_jpy,
                        ubs_include_list=[], clsa_asia_target=0):
    
    table = calculate_columns(quarter_trades, jp_ranks_df, jp_quarter_commission_budget, usd_jpy, ubs_include_list, clsa_asia_target)

    exec_target = [11, 11, 10, 10, 10, 7, 7, 7, 7, 7, 3, 3, 3, 2, 1]
    if len(exec_target) < len(table.index):
        exec_target = exec_target + [0] * (len(table.index) - len(exec_target))
    table['exec_target'] = pd.Series(exec_target, index=table.index)
    
    return (table
            .reset_index()
            .append(table[['research', 'res_target', 'JPResearch', 'JPExec',
                           'JPDis', 'balance_usd', 'balance_jpy', 'exec_target']].sum(), ignore_index=True)
            .pipe(format_2f)
            [['rank', 'brokers', 'research', 'res_target', 'JPResearch', 'JPExec',
              'JPDis', 'balance_usd', 'balance_jpy', 'exec_target', 'accrued']]
            )

In [10]:
def calculate_soft(quarter_trades, year, month):
    mon_trades = quarter_trades['{}-{:02d}'.format(year, month)]
    soft = "{:,.0f}".format(mon_trades[(mon_trades['brokerName'] == 'Soft')]['JPResearch'].sum())
    soft_ms = "{:,.0f}".format(mon_trades[mon_trades['brokerName'] == 'Soft']['JPExec'].sum())
    return soft, soft_ms

In [11]:
def get_fx_rate(price_date):
    """ return tuple of fx rate for USDJPY and USDHKD
    """
    query = """SELECT a.quote, a.rate
                    FROM t06DailyCrossRate a
                    WHERE a.priceDate="{}" AND a.quote IN ("JPY", "HKD") AND a.base="USD"
    """

    t = pd.read_sql(query.format(price_date), con, index_col="quote")
    return t.loc['JPY', 'rate'], t.loc['HKD', 'rate']

get_fx_rate('2016-06-30')
# query = """SELECT a.quote, a.rate
#                     FROM t06DailyCrossRate a
#                     WHERE a.priceDate="{}" AND a.quote IN ("JPY", "HKD") AND a.base="USD"
#     """

# t = pd.read_sql(query.format('2016-06-30'), con, index_col="quote")
# type(t['rate']['JPY'])
# type(t.loc['JPY', 'rate'])

(102.66, 7.7587000000000002)

### new requirement
need to restart balance_usd for specific broker from some month. for ex: MS from 2017 Jun

In [12]:
date = '2016-06-30'

if date is None:
    date = datetime.date.today()
else:
    try:
        date = datetime.strptime(date, '%Y-%m-%d')
    except ValueError:
        date = datetime.date.today()

quarter = (date.month-1) // 3 + 1

In [13]:
%time ytd_trades = get_trades(date.year)

/Users/cuong/anaconda/envs/attribution/lib/python2.7/site-packages/pymysql/cursors.py:146: Warning: Incorrect date value: '2014' for column 'tradeDate' at row 1
  result = self._query(query)

CPU times: user 5.45 s, sys: 150 ms, total: 5.6 s
Wall time: 9.81 s

In [14]:
date.year, quarter

(2016, 2)

In [15]:
ytd_trades.head()

,code,fundCode,orderType,side,swap,PB,gcomrate,brokerCommissionRate,commInUSD,CommRate,...,JPExec,brokerCode,instrumentType,currencyCode,brokerName,tax,asiaDeal,asiaResearch,asiaExecution,HCSwaps
tradeDate,,,,,,,,,,,,,,,,,,,,,
2016-01-04,1138 HK,04F08910,S,L,,MS,0.00,0.00,882.72,0.00,...,0.00,CSFH,EQ,HKD,CS,0.00,0.00,429.47,143.44,0.00
2016-01-04,1138 HK,PLOJ2010,S,L,,MS,0.00,0.00,203.77,0.00,...,0.00,CSFH,EQ,HKD,CS,0.00,0.00,99.17,33.10,0.00
2016-01-04,1138 HK,04F08900,S,L,,MS,0.00,0.00,"5,768.18",0.00,...,0.00,CSFH,EQ,HKD,CS,0.00,0.00,"2,806.24",937.29,0.00
2016-01-04,1338 TT,04F08910,S,L,,MS,0.00,0.00,213.96,0.00,...,0.00,KGII,EQ,TWD,KGI Securities,0.00,0.00,47.55,23.77,0.00
2016-01-04,1338 TT,04F08900,S,L,,MS,0.00,0.00,"1,547.09",0.00,...,0.00,KGII,EQ,TWD,KGI Securities,0.00,0.00,343.80,171.90,0.00

In [16]:
# broker rank for each quarter - 2016Q1
# data = {
#     'brokers': ['BAML', 'Mizuho Securities',  'Nomura', 'Japan Equity Research', 
#                 'Citi', 'Mitsubishi UFJ', 'Tokai', 'Ichiyoshi', 'SMBC Nikko', 
#                 'BNP', 'Deutsche', 'CLSA', 'Daiwa', 'Jefferies', 
#                 'CS', 'UBS', 'JP Morgan', 'Goldman Sachs', 'Okasan', 
#                 'MS', 'Macquarie', 'Barclays'
#                ],
#     'rank': [6, 1, 2, 20, 9, 4, 18, 16, 3, 14, 19, 22, 5, 15, 11, 10, 12, 7, 17, 8, 21, 13],
#     'balance': [2240, -664, -808, 0,
#                 58, 881, 0, 594, 691,
#                 1815, 1128, 1836, 1179, 2450,
#                 -8419, -417, 3744, 2854, 618,
#                 -2577, 928, 2348
#                ],
#     'research': map(lambda x: x, [7.547019, 10.255114, 8.691184, 0.809168,
#                  6.471412, 7.949641, 1.158507, 1.362588, 8.103913,
#                  2.192719, 0.989449, 0.125777, 7.936205, 1.459018,
#                  5.722873, 6.2115491, 4.984979, 6.987916, 1.203270,
#                  6.860959, 0.628887, 2.347845
#                 ])
# }

# jp_ranks_df = pd.DataFrame(data).set_index('brokers')

jp_ranks_df = pd.read_sql('''
SELECT b.name AS brokers, a.rank, a.balance_usd AS balance, a.budget_target AS research
FROM broker_ranks a
INNER JOIN brokers b ON a.broker_id=b.id
WHERE a.year=2015 AND a.quarter='Q4'
''', con, index_col='brokers')

# usd_jpy = 112.27  # 2016Q1
# hkd_jpy = 7.754
usd_jpy, hkd_jpy = get_fx_rate('2016-03-31')
print(usd_jpy, hkd_jpy)
quarter1_trades = get_quarter_trades(date.year, 1, ytd_trades)

(112.27, 7.7542999999999997)

In [17]:
# broker_id = pd.read_sql('''
# SELECT id, name AS name
# FROM brokers
# ''', con)

In [18]:
# jp_ranks_df.reset_index()[['brokers']].to_sql(name='brokers', con=engine, if_exists = 'append', index=False)

In [19]:
# output_df = jp_ranks_df.merge(broker_id, how='inner', left_index=True, right_on='name')

In [20]:
# output_df.to_sql(name='sample_table2', con=engine, if_exists = 'append', index=False)

In [21]:
# Asia commission budget is 2mm  USD per year
# Japan has gone through a few iterations but it's basically approximately 7.5 mm USD per year
jp_annual_commission_budget = 7500000  # usd
asia_annual_commission_budget = 2000000  # usd
jp_quarter_commission_budget = jp_annual_commission_budget / 4.0
asia_quarter_commission_budget = asia_annual_commission_budget / 4.0

jp_quarter_commission_budget = 10031527/4.0  # to make it same with old system 2016Q1

In [23]:
calculate_commission(quarter1_trades, jp_ranks_df, jp_quarter_commission_budget, 
                     usd_jpy, ubs_include_list=['Tokai', 'Japan Equity Research'], clsa_asia_target=0)

,rank,brokers,research,res_target,JPResearch,JPExec,JPDis,balance_usd,balance_jpy,exec_target,accrued
0,1,Mizuho Securities,10.26%,"$ 256,522","$ 252,391","$ 91,779","$ 84,015","$ 4,131","Â¥ 463,764",11%,11%
1,2,Nomura,8.69%,"$ 217,157","$ 213,371","$ 77,589","$ 104,973","$ 3,786","Â¥ 424,999",11%,11%
2,3,SMBC Nikko,8.10%,"$ 203,928","$ 201,258","$ 73,185","$ 84,691","$ 2,670","Â¥ 299,761",10%,10%
3,4,Mitsubishi UFJ,7.95%,"$ 200,249","$ 197,827","$ 71,937","$ 90,654","$ 2,422","Â¥ 271,918",10%,10%
4,5,Daiwa,7.94%,"$ 200,210","$ 198,833","$ 72,303","$ 95,555","$ 1,377","Â¥ 154,558",10%,10%
5,6,BAML,7.55%,"$ 191,510","$ 200,724","$ 84,406","$ 41,559","$ -9,213","Â¥ -1,034,389",7%,8%
6,7,Goldman Sachs,6.99%,"$ 178,103","$ 180,103","$ 65,492","$ 53,879","$ -2,000","Â¥ -224,586",7%,7%
7,8,MS,6.86%,"$ 169,488","$ 218,012","$ 100,281","$ 8,718","$ -48,524","Â¥ -5,447,819",7%,7%
8,9,Citi,6.47%,"$ 162,353","$ 158,874","$ 57,773","$ 57,899","$ 3,479","Â¥ 390,580",7%,7%
9,10,UBS,8.18%,"$ 204,708","$ 245,225","$ 89,173","$ 15,186","$ -40,517","Â¥ -4,548,840",7%,6%
10,11,CS,5.72%,"$ 135,104","$ 135,788","$ 49,377","$ 41,050",$ -684,"Â¥ -76,758",3%,5%
11,12,JP Morgan,4.98%,"$ 128,761","$ 127,244","$ 46,271","$ 12,244","$ 1,517","Â¥ 170,343",3%,4%
12,13,Barclays,2.35%,"$ 61,229","$ 5,992","$ 2,179",,"$ 55,237","Â¥ 6,201,486",3%,0%
13,14,BNP,2.19%,"$ 56,806","$ 55,094","$ 20,034","$ 15,513","$ 1,712","Â¥ 192,158",2%,2%
14,15,Jefferies,1.46%,"$ 39,040","$ 38,016","$ 13,824",,"$ 1,025","Â¥ 115,043",1%,1%
15,16,Ichiyoshi,1.36%,"$ 34,766","$ 32,722","$ 11,899",,"$ 2,044","Â¥ 229,479",,1%
16,17,Okasan,1.20%,"$ 30,795","$ 25,391","$ 9,233",,"$ 5,404","Â¥ 606,657",,1%
17,18,Tokai,1.16%,"$ 29,054",,,,,,,0%
18,19,Deutsche,0.99%,"$ 25,942","$ 24,874","$ 9,045","$ 1,121","$ 1,068","Â¥ 119,909",,1%
19,20,Japan Equity Research,0.81%,"$ 20,293",,,,,,,0%
20,21,Macquarie,0.63%,"$ 16,700","$ 14,594","$ 5,307",,"$ 2,106","Â¥ 236,408",,0%
21,22,CLSA,0.13%,"$ 4,990",$ 302,$ 110,,"$ 4,689","Â¥ 526,410",,0%
22,,NaN,101.97%,"$ 2,567,708","$ 2,526,635","$ 951,196","$ 707,059","$ -8,274","Â¥ -928,918",99%,

In [24]:
# broker rank for 2016Q2
# data = {
#     'brokers': ['BAML', 'Mizuho Securities', 'Nomura', 'Japan Equity Research',
#                 'Citi', 'Mitsubishi UFJ', 'Tokai', 'Ichiyoshi', 'SMBC Nikko',
#                 'BNP', 'Deutsche', 'CLSA', 'Daiwa', 'Jefferies',
#                 'CS', 'UBS', 'JP Morgan', 'Goldman Sachs', 'Okasan',
#                 'MS', 'Macquarie'
#                 ],
#     'rank': [6, 2, 1, 17,
#              4, 10, 15, 14, 5,
#              13, 18, 21, 8, 16,
#              9, 12, 7, 3, 19,
#              11, 20],
#     'research': map(lambda x: x, [6.762165, 10.039098, 12.522392, 0.965961,
#                                   8.526189, 5.841530, 1.182470, 2.287421, 7.562959,
#                                   2.414071, 0.878525, 0.249817, 6.466847, 1.094201,
#                                   5.895336, 4.8135476, 6.608858, 8.940196, 0.846049,
#                                   5.319596, 0.741125
#                                   ])
# }

# jp_ranks_df = pd.DataFrame(data).set_index('brokers')



jp_ranks_df = pd.read_sql('''
SELECT b.name AS brokers, a.rank, a.balance_usd AS balance, a.budget_target AS research
FROM broker_ranks a
INNER JOIN brokers b ON a.broker_id=b.id
WHERE a.year=2016 AND a.quarter='Q1'
''', con, index_col='brokers')

# usd_jpy = 102.66  # 2016Q2
# hkd_jpy = 7.759
usd_jpy, hkd_jpy = get_fx_rate(date)
print(usd_jpy, hkd_jpy)
quarter_trades = get_quarter_trades(date.year, quarter, ytd_trades)

(102.66, 7.7587000000000002)

In [25]:
# jp_ranks_df

In [26]:
# table_q1 = calculate_columns(quarter1_trades, jp_ranks_df, jp_quarter_commission_budget, 
#                              usd_jpy, ubs_include_list = ['Tokai', 'Japan Equity Research'])
# table_q1[['brokers', 'balance_usd']].reset_index().drop('rank', axis=1).set_index('brokers')
# table_q1[['brokers', 'balance_usd']]#.reset_index().drop('rank', axis=1)
# t = table_q1[['brokers', 'balance_usd']].merge(broker_id, left_on='brokers', right_on='name')
# t

In [27]:
# jp_ranks_df['balance'] - test_df['balance']
# (jp_ranks_df.merge(table_q1[['brokers', 'balance_usd']], left_index=True, right_on='brokers')
#    .assign(dff= lambda df: df['balance'] - df['balance_usd'])
# )

In [28]:
# jp_ranks_df

In [29]:
# out_df = (jp_ranks_df.merge(t, how='inner', left_index=True, right_on='brokers')
#           .rename(columns={'research': 'budget_target', 'id': 'broker_id'})
#           .assign(year=2016)
#           .assign(quarter='Q1')
#            .drop(['name', 'brokers'], axis=1)
# )
# out_df.to_sql(name='broker_ranks', con=engine, if_exists = 'append', index=False)
# #out_df

In [30]:
table = calculate_commission(quarter_trades, jp_ranks_df, jp_quarter_commission_budget, 
                             usd_jpy, ubs_include_list = ['Tokai', 'Japan Equity Research'], clsa_asia_target = 1.950146)
qtd_clearing = "{:,.0f}".format(quarter_trades['Clearing'].sum())
ytd_clearing = "{:,.0f}".format(ytd_trades['Clearing'].sum())

months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
mon1, mon2, mon3 = [months[(quarter - 1) * 3 + i] for i in range(3)]  # get month names for quarter
m1, m2, m3 = [(quarter - 1) * 3 + i for i in range(1, 4)]  # get the month numbers for quarter

soft1, soft_ms1 = calculate_soft(quarter_trades, date.year, m1)
soft2, soft_ms2 = calculate_soft(quarter_trades, date.year, m2)
soft3, soft_ms3 = calculate_soft(quarter_trades, date.year, m3)

soft_qtd = '{:,.0f}'.format(quarter_trades[(quarter_trades['brokerName'] == 'Soft') &
                          (quarter_trades['currencyCode'] == 'JPY')]['JPResearch'].sum())
soft_msqtd = '{:,.0f}'.format(quarter_trades[(quarter_trades['brokerName'] == 'Soft') &
                          (quarter_trades['currencyCode'] == 'JPY')]['JPExec'].sum())

In [31]:
table

,rank,brokers,research,res_target,JPResearch,JPExec,JPDis,balance_usd,balance_jpy,exec_target,accrued
0,1,Nomura,12.52%,"$ 317,832","$ 319,687","$ 116,250","$ 125,753","$ -1,854","Â¥ -190,371",11%,11%
1,2,Mizuho Securities,10.04%,"$ 255,899","$ 256,774","$ 93,372","$ 137,763",$ -875,"Â¥ -89,779",11%,11%
2,3,Goldman Sachs,8.94%,"$ 222,209","$ 223,357","$ 81,221","$ 121,548","$ -1,148","Â¥ -117,802",10%,10%
3,4,Citi,8.53%,"$ 217,306","$ 214,984","$ 78,176","$ 133,581","$ 2,321","Â¥ 238,320",10%,10%
4,5,SMBC Nikko,7.56%,"$ 192,340","$ 193,577","$ 70,392","$ 133,193","$ -1,237","Â¥ -126,978",10%,10%
5,6,BAML,6.76%,"$ 160,374","$ 159,546","$ 58,640","$ 90,844",$ 827,"Â¥ 84,930",7%,7%
6,7,JP Morgan,6.61%,"$ 167,260","$ 164,270","$ 59,735","$ 93,597","$ 2,989","Â¥ 306,883",7%,7%
7,8,Daiwa,6.47%,"$ 163,558","$ 160,650","$ 58,418","$ 95,230","$ 2,907","Â¥ 298,471",7%,7%
8,9,CS,5.90%,"$ 147,164","$ 143,477","$ 52,173","$ 90,329","$ 3,687","Â¥ 378,557",7%,7%
9,10,Mitsubishi UFJ,5.84%,"$ 148,921","$ 147,925","$ 53,791","$ 85,298",$ 996,"Â¥ 102,203",7%,7%
10,11,MS,5.32%,"$ 84,885","$ 104,899","$ 85,594",$ 643,"$ -20,014","Â¥ -2,054,672",3%,4%
11,12,UBS,8.91%,"$ 182,989","$ 220,371","$ 80,135","$ 4,049","$ -37,382","Â¥ -3,837,673",3%,4%
12,13,BNP,2.41%,"$ 62,254","$ 61,228","$ 22,265","$ 30,366","$ 1,026","Â¥ 105,290",3%,2%
13,14,Ichiyoshi,2.29%,"$ 59,410","$ 56,470","$ 20,534",,"$ 2,940","Â¥ 301,851",2%,1%
14,15,Tokai,1.18%,"$ 29,655",,,,,,1%,0%
15,16,Jefferies,1.09%,"$ 28,466","$ 27,556","$ 10,020",,$ 910,"Â¥ 93,451",,0%
16,17,Japan Equity Research,0.97%,"$ 24,225",,,,,,,0%
17,18,Deutsche,0.88%,"$ 23,100","$ 22,036","$ 8,013",,"$ 1,064","Â¥ 109,247",,0%
18,19,Okasan,0.85%,"$ 26,621","$ 23,006","$ 8,366",,"$ 3,616","Â¥ 371,212",,0%
19,20,Macquarie,0.74%,"$ 20,692","$ 18,184","$ 6,612",,"$ 2,508","Â¥ 257,500",,0%
20,21,CLSA,0.25%,"$ 10,954","$ 8,875","$ 3,227",,"$ 2,079","Â¥ 213,436",,0%
21,,NaN,104.06%,"$ 2,546,114","$ 2,526,871","$ 966,935","$ 1,142,193","$ -34,638","Â¥ -3,555,926",99%,

In [32]:
currency_mask = ytd_trades['currencyCode'] == 'JPY'
(ytd_trades.groupby(['brokerName', currency_mask])
           .sum()
           .assign(AsiaYTD = lambda x : x.asiaResearch + x.asiaExecution)
           .unstack()
           .fillna(0) [['JPResearch', 'JPExec', 'Clearing', 'commInUSD'
                        , 'AsiaYTD'
                       ]]
           .rename(columns={True: 'JP', False: 'Asia'})
         #.loc[(slice(None), 'JPY'), ['JPResearch', 'JPExec', 'commInUSD']]
)

                                 JPResearch                JPExec             \
currencyCode                           Asia           JP     Asia         JP
brokerName
BAML                               4,615.56   855,423.95 1,678.38 382,597.24
BNP                                    0.00   263,440.88     0.00  95,796.68
Barclays                               0.00     5,991.92     0.00   2,178.88
CLSA                                   0.00    18,277.65     0.00   6,646.42
CS                                     0.00   741,112.06     0.00 269,495.29
Cantor                                 0.00         0.00     0.00       0.00
Citi                                   0.00   829,053.04     0.00 305,253.45
Daiwa                                  0.00   992,860.20     0.00 361,040.07
Deutsche                               0.00   139,752.17     0.00  50,818.97
Fubon Securities                       0.00         0.00     0.00       0.00
Goldman Sachs                          0.00   853,809.30     0.00 316,605.61
Ichiyoshi                              0.00   206,108.78     0.00  74,948.65
JP Morgan                              0.00   794,311.41     0.00 288,840.51
Jefferies                              0.00   214,906.44     0.00  78,147.80
KGI Securities                         0.00         0.00     0.00       0.00
MS                                26,404.49   685,441.91 9,601.63 374,418.76
Macquarie                              0.00   191,737.78     0.00  69,722.83
Mitsubishi UFJ                         0.00   894,414.60     0.00 325,241.67
Mizuho Securities                      0.00 1,272,644.60     0.00 462,779.85
Nomura                                 0.00 1,351,275.52     0.00 491,372.92
Okasan                                 0.00   142,266.39     0.00  51,733.23
RHB OSK Securities Hong Kong Lim       0.00         0.00     0.00       0.00
SMBC Nikko                             0.00 1,297,491.34     0.00 471,815.03
Soft                                   0.00   917,504.54     0.00 333,638.02
UBS                                    0.00 1,174,380.91     0.00 427,047.61
Yuanta                                 0.00         0.00     0.00       0.00

                                 Clearing             commInUSD               \
currencyCode                         Asia         JP       Asia           JP
brokerName
BAML                                 0.00  71,533.97 680,744.37 1,650,707.84
BNP                                  0.00       0.00       0.00   438,803.84
Barclays                             0.00       0.00       0.00     8,170.81
CLSA                                 0.00       0.00  97,471.50    24,924.07
CS                                   0.00       0.00 539,157.54 1,332,120.96
Cantor                               0.00       0.00 143,682.91         0.00
Citi                                 0.00   3,779.61 504,991.27 1,492,744.65
Daiwa                                0.00       0.00 169,345.81 1,915,948.56
Deutsche                             0.00       0.00 151,871.63   191,692.04
Fubon Securities                     0.00       0.00 231,301.60         0.00
Goldman Sachs                        0.00  11,196.09 171,666.57 1,510,405.95
Ichiyoshi                            0.00       0.00       0.00   281,057.43
JP Morgan                            0.00       0.00 384,076.54 1,502,556.44
Jefferies                            0.00       0.00 181,365.39   293,054.24
KGI Securities                       0.00       0.00 358,835.26         0.00
MS                               7,115.98 137,439.40 418,829.41 1,333,259.37
Macquarie                            0.00       0.00 160,046.41   341,112.76
Mitsubishi UFJ                       0.00       0.00       0.00 1,647,937.46
Mizuho Securities                    0.00       0.00  42,035.45 2,334,979.14
Nomura                               0.00       0.00 302,376.42 2,465,861.38
Okasan                               0.00       0.00       0.00   193,999.63
RHB OSK Securities Hong Kong Lim     0.00       0.00  34,653.30         0.00
SMBC Nikko                           0.00       0.00       0.00 2,335,667.65
Soft                                 0.00       0.00       0.00 1,251,142.56
UBS                                  0.00       0.00 456,643.09 1,706,199.29
Yuanta                               0.00       0.00 190,273.41         0.00

                                    AsiaYTD
currencyCode                           Asia   JP
brokerName
BAML                             439,355.37 0.00
BNP                                    0.00 0.00
Barclays                               0.00 0.00
CLSA                              68,090.28 0.00
CS                               368,487.99 0.00
Cantor                            93,252.06 0.00
Citi                             335,747.83 0.00
Daiwa                            104,330.05 0.00
Deutsche                          98,567.30 0.00
Fubon Securities                  98,177.40 0.00
Goldman Sachs                    113,021.21 0.00
Ichiyoshi                              0.00 0.00
JP Morgan                        243,198.12 0.00
Jefferies                        117,708.97 0.00
KGI Securities                   192,868.44 0.00
MS                               238,184.85 0.00
Macquarie                        103,889.31 0.00
Mitsubishi UFJ                         0.00 0.00
Mizuho Securities                 27,281.76 0.00
Nomura                           186,125.04 0.00
Okasan                                 0.00 0.00
RHB OSK Securities Hong Kong Lim  20,132.45 0.00
SMBC Nikko                             0.00 0.00
Soft                                   0.00 0.00
UBS                              288,159.56 0.00
Yuanta                            90,671.02 0.00

In [33]:
# (ytd_trades.groupby(['brokerName', 'currencyCode'])
#            .sum()
#            #.assign(AsiaYTD = lambda x : x.asiaResearch + x.asiaExecution)
#            .unstack()
#            .fillna(0) [['commInUSD', 'JPResearch', 'JPExec', 'Clearing'
#             #            , 'AsiaYTD'
#                        ]]
#            .rename(columns={True: 'JP', False: 'Asia'})
#          #.loc[(slice(None), 'JPY'), ['JPResearch', 'JPExec', 'commInUSD']]
# )

In [34]:
jp_quarter_commission_budget =10031527/4.0
jp_quarter_commission_budget

2507881.75

In [35]:
q1 = get_quarter_trades(2016, 1, ytd_trades)

For monthly balance need to divided res_target by 3 to find balance, but for quarter calculation, do not need to divide by 3.

In [36]:
# # debug duplicated trades for 2016Q1
# ubsw = q1[q1['brokerCode'] == 'UBSW']
# jan14 = ubsw.loc['2016-01-14']
# jan14[jan14['code'] == '6305']

In [37]:
## debug duplicated trades for 2016Q2
smbc = quarter_trades[quarter_trades['brokerCode'] == 'NIKK']
print(smbc['JPResearch'].sum())
smbc.loc['2016-05-17':'2016-05-17']['JPResearch'].sum() #[['code', 'fundCode', 'orderType', 'side', 'swap', 'JPResearch']]
smbc.loc['2016-05-17':'2016-05-17']#[['code', 'fundCode', 'orderType', 'side', 'swap', 'JPResearch']]

193576.949695

,code,fundCode,orderType,side,swap,PB,gcomrate,brokerCommissionRate,commInUSD,CommRate,...,JPExec,brokerCode,instrumentType,currencyCode,brokerName,tax,asiaDeal,asiaResearch,asiaExecution,HCSwaps
tradeDate,,,,,,,,,,,,,,,,,,,,,
2016-05-17,4348,04F08910,S,L,,CS,0.00,0.00,326.71,0.00,...,87.12,NIKK,EQ,JPY,SMBC Nikko,0.00,0.00,0.00,0.00,0.00
2016-05-17,4348,PLOJ2010,S,L,,CS,0.00,0.00,49.00,0.00,...,13.07,NIKK,EQ,JPY,SMBC Nikko,0.00,0.00,0.00,0.00,0.00
2016-05-17,4849,04F08900,B,L,,CS,0.00,0.00,138.56,0.00,...,36.95,NIKK,EQ,JPY,SMBC Nikko,0.00,0.00,0.00,0.00,0.00
2016-05-17,4849,PLOJ2010,B,L,,CS,0.00,0.00,4.26,0.00,...,1.14,NIKK,EQ,JPY,SMBC Nikko,0.00,0.00,0.00,0.00,0.00
2016-05-17,4849,04F08910,B,L,,CS,0.00,0.00,17.05,0.00,...,4.55,NIKK,EQ,JPY,SMBC Nikko,0.00,0.00,0.00,0.00,0.00
2016-05-17,5471,04F08900,S,L,,MS,0.00,0.00,"1,134.25",0.00,...,302.47,NIKK,EQ,JPY,SMBC Nikko,0.00,0.00,0.00,0.00,0.00
2016-05-17,5471,04F08910,S,L,,MS,0.00,0.00,147.30,0.00,...,39.28,NIKK,EQ,JPY,SMBC Nikko,0.00,0.00,0.00,0.00,0.00
2016-05-17,5471,PLOJ2010,S,L,,MS,0.00,0.00,39.27,0.00,...,10.47,NIKK,EQ,JPY,SMBC Nikko,0.00,0.00,0.00,0.00,0.00
2016-05-17,6300,04F08910,S,L,,CS,0.00,0.00,36.44,0.00,...,9.72,NIKK,EQ,JPY,SMBC Nikko,0.00,0.00,0.00,0.00,0.00
2016-05-17,6508,PLOJ2010,S,L,,MS,0.00,0.00,150.28,0.00,...,40.08,NIKK,EQ,JPY,SMBC Nikko,0.00,0.00,0.00,0.00,0.00
2016-05-17,6508,04F08910,S,L,,MS,0.00,0.00,612.30,0.00,...,163.28,NIKK,EQ,JPY,SMBC Nikko,0.00,0.00,0.00,0.00,0.00
2016-05-17,8975,PLOJ2010,B,L,,MERT,0.00,0.00,53.12,0.00,...,14.17,NIKK,EQ,JPY,SMBC Nikko,0.00,0.00,0.00,0.00,0.00
2016-05-17,8975,04F08910,B,L,,MERT,0.00,0.00,211.41,0.00,...,56.38,NIKK,EQ,JPY,SMBC Nikko,0.00,0.00,0.00,0.00,0.00
2016-05-17,8975,04F08910,B,L,,MERT,0.00,0.00,0.00,0.00,...,0.00,NIKK,EQ,JPY,SMBC Nikko,0.00,0.00,0.00,0.00,0.00
2016-05-17,8975,PLOJ2010,B,L,,MERT,0.00,0.00,0.00,0.00,...,0.00,NIKK,EQ,JPY,SMBC Nikko,0.00,0.00,0.00,0.00,0.00
2016-05-17,8975,04F08900,B,L,,MERT,0.00,0.00,0.00,0.00,...,0.00,NIKK,EQ,JPY,SMBC Nikko,0.00,0.00,0.00,0.00,0.00
2016-05-17,8975,04F08900,B,L,,MERT,0.00,0.00,"1,634.92",0.00,...,435.98,NIKK,EQ,JPY,SMBC Nikko,0.00,0.00,0.00,0.00,0.00

In [38]:
# q1[q1['brokerCode']=='MSUS']
print("QTD Clearing : {:,.0f}".format(q1['Clearing'].sum()))

QTD Clearing : 43,394

In [39]:
print("YTD Clearing : {:,.0f}".format(ytd_trades['Clearing'].sum()))

YTD Clearing : 231,065

In [40]:
print("Soft YTD: {:,.0f}".format(q1[(q1['brokerName'] == 'Soft') & (q1['currencyCode'] == 'JPY')]['JPResearch'].sum()))

Soft YTD: 174,208

In [41]:
jan = q1['2016-01']
print("Jan Soft= {:,.0f}".format(jan[(jan['brokerName'] == 'Soft') ]['JPResearch'].sum()))

Jan Soft= 55,915

In [42]:
jan_ms = jan[(jan['brokerName'] == 'Soft') ]['JPExec'].sum()
jan_ms
print('Soft MS: {:,.0f}'.format(jan_ms))

Soft MS: 20,333

In [43]:
(q1[q1['currencyCode'] != "JPY"]
   .groupby(['brokerName'])
   .sum()[['asiaResearch', 'asiaExecution', 'HCSwaps']]
   .assign(asiaYTD = lambda x: x.asiaResearch + x.asiaExecution)
   # ['commission', 'commInUSD', 'JPResearch', 'JPExec', 'Clearing']
)

,asiaResearch,asiaExecution,HCSwaps,asiaYTD
brokerName,,,,
BAML,"50,964.80","16,184.29","24,123.68","67,149.09"
CLSA,"40,724.07","11,994.31",0.00,"52,718.38"
CS,"71,288.16","19,842.69","61,683.38","91,130.84"
Cantor,"11,825.46","3,949.27",0.00,"15,774.73"
Citi,"33,476.77","9,021.41","29,481.44","42,498.18"
Daiwa,"13,391.83","3,414.55",0.00,"16,806.38"
Deutsche,"6,503.71","2,172.05",0.00,"8,675.76"
Fubon Securities,"17,025.33","8,512.67",0.00,"25,538.00"
Goldman Sachs,"16,182.94","5,404.57",0.00,"21,587.51"
JP Morgan,"33,442.54","10,881.63",0.00,"44,324.17"
Jefferies,"11,655.02","3,892.45",0.00,"15,547.47"
KGI Securities,"14,552.11","7,276.05",0.00,"21,828.16"
MS,"37,343.94","11,691.90","37,343.94","49,035.84"
Macquarie,"16,744.30","5,588.70",0.00,"22,332.99"
Nomura,"26,386.96","7,538.31","10,859.54","33,925.27"
RHB OSK Securities Hong Kong Lim,181.91,91.13,0.00,273.04
UBS,"34,261.30","11,439.23",0.00,"45,700.53"
Yuanta,"13,554.17","5,213.14",0.00,"18,767.31"

In [44]:
(q1[q1['currencyCode'] != "JPY"]
 .groupby(['brokerName', 'currencyCode'])
 .sum()[['asiaResearch']]
 .unstack()
 .fillna(0)
 )

                                 asiaResearch                            \
currencyCode                              CNY       HKD       KRW   SGD
brokerName
BAML                                 1,423.24 40,976.62      0.00  0.00
CLSA                                     0.00 21,592.20      0.00  0.00
CS                                       0.00 24,059.66 20,278.24  0.00
Cantor                                   0.00 11,825.46      0.00  0.00
Citi                                     0.00 11,936.42      0.00  0.00
Daiwa                                    0.00    794.25 12,597.58  0.00
Deutsche                                 0.00  6,503.71      0.00  0.00
Fubon Securities                         0.00      0.00      0.00  0.00
Goldman Sachs                            0.00 16,182.94      0.00  0.00
JP Morgan                                0.00 30,018.46  3,424.08  0.00
Jefferies                                0.00 11,655.02      0.00  0.00
KGI Securities                           0.00      0.00      0.00  0.00
MS                                       0.00  7,285.95 19,863.43  0.00
Macquarie                                0.00 16,684.25      0.00 60.05
Nomura                                   0.00  6,726.81  9,115.28  0.00
RHB OSK Securities Hong Kong Lim         0.00    181.91      0.00  0.00
UBS                                      0.00 28,731.08  5,530.22  0.00
Yuanta                                   0.00      0.00      0.00  0.00


currencyCode                           TWD
brokerName
BAML                              8,564.93
CLSA                             19,131.87
CS                               26,950.26
Cantor                                0.00
Citi                             21,540.35
Daiwa                                 0.00
Deutsche                              0.00
Fubon Securities                 17,025.33
Goldman Sachs                         0.00
JP Morgan                             0.00
Jefferies                             0.00
KGI Securities                   14,552.11
MS                               10,194.55
Macquarie                             0.00
Nomura                           10,544.87
RHB OSK Securities Hong Kong Lim      0.00
UBS                                   0.00
Yuanta                           13,554.17

In [45]:
# q2jpm = ytd_trades #.loc['2017-04-03':]  #,ytd_trades['brokerCode'] == 'JPMF']
# q2jpm[(q2jpm['brokerCode'] == 'RHBO') & (q2jpm['currencyCode'] != 'JPY')]

In [46]:
# from IPython.display import display, HTML
#HTML(q1[(q1['currencyCode'] == 'HKD') & (q1['brokerCode'] == 'MERT')].to_html())
#HTML(q1[(q1['currencyCode'] != 'JPY') & (q1['brokerName'] == 'Nomura')].to_html())
# q1[(q1['currencyCode'] != 'JPY') & (q1['brokerName'] == 'UBS')].count()

In [47]:
con.close()