In [1]:
#%matplotlib inline
import pandas as pd
from pandas import DataFrame
from pandas.io import sql
from pandas.tseries.offsets import *
import numpy as np
from pprint import pprint
# import pylab as plt
import pymysql
# import seaborn
# from matplotlib import pyplot
from datetime import datetime,timedelta
import csv
import math
pd.options.display.float_format = '{:,.2f}'.format
import json
from IPython.display import display, HTML
from sqlalchemy import create_engine
import japandas as jpd

In [2]:
ubs_include_list = ['Tokai', 'Japan Equity Research']

In [3]:
date = '2016-06-30'
date = '2016-09-30'
date = '2016-12-30'
# date = '2016-03-31'
# date = '2016-04-01'

if date is None:
    date = datetime.date.today()
else:
    try:
        date = datetime.strptime(date, '%Y-%m-%d')
    except ValueError:
        date = datetime.date.today()

quarter = (date.month-1) // 3 + 1

prev_quarter = 4 if quarter == 1 else quarter - 1
prev_year = date.year - 1 if quarter == 1 else date.year

In [4]:
with open('config.json') as f:
    conf = json.load(f)

In [5]:
con = pymysql.connect(host=conf['host'], user=conf['user'], passwd=conf['password'], db=conf['database'])
engine = create_engine('mysql+pymysql://root:root@localhost:3306/hkg02p', echo=False)

In [6]:
def calculate_quarter(from_month):
    return (from_month - 1) // 3 + 1

In [7]:
def get_ytd_trades(date):
    """
    return all trades from start of year upto date
    :param date: the year to get trades
    :return: DataFrame of all trades of year
    """

    start_date = '{}-01-01'.format(date.year)
    end_date = datetime.strftime(date, '%Y-%m-%d')

    ytd_trades = sql.read_sql("""
        SELECT a.code, a.fundCode, a.orderType, a.side, a.swap, a.tradeDate, a.PB, 
              g.commrate as gcomrate, d.brokerCommissionRate,
              # a.commission,
              (@commInUSD := a.commission*f.rate) AS commInUSD,
              (@commrate := IF (g.commrate IS NOT NULL, ROUND(g.commrate,4), ROUND(d.brokerCommissionRate,4))) AS CommRate,
              (@jpresearch := IF(b.currencyCode IN ("JPY", "USD") AND c.instrumentType IN ("EQ", "CB") AND  (@commrate<> 0.0004), 
                  @commInUSD*11/15,0)*1.0) AS JPResearch,
                  IF(b.currencyCode IN ("JPY", "USD") AND c.instrumentType IN ("EQ", "CB") AND (@commrate=0.0004), 
                      @commInUSD, 
                      0)*1.0 AS JPDis,
              (@clearing:=
              IF (c.instrumentType IN ("FU", "OP"), 
                  IF(SUBSTRING(a.code, 1, 2) IN ("TP", "NK"), 500, 
                    IF(SUBSTRING(a.code, 1, 2)="JP",50, 
                    IF(SUBSTRING(a.code, 1, 2) IN ("HC", "HI"), 30, 0) 
                )
               ) * a.quantity *f.rate, 0  )) AS Clearing,
              IF(b.currencyCode IN ("JPY", "USD")  AND c.instrumentType IN ("EQ", "CB") AND (@commrate=0.0004 OR @commrate=0),
                  0,
                  IF(b.currencyCode IN ("JPY", "USD")  AND c.instrumentType IN ("EQ", "CB"),
                  @commInUSD - @jpresearch,
                  IF(b.currencyCode="JPY" AND c.instrumentType IN ("FU", "OP"), 
                  @commInUSD - @clearing,0) )) AS JPExec,
              d.brokerCode, c.instrumentType, b.currencyCode,
              IF(d.brokerCode="BXS", "Soft", IF(d.brokerCode="INSH", "Nomura",e.name)) AS brokerName,
              (@tax := CASE CONCAT(c.instrumentType, a.orderType, b.currencyCode)
                        WHEN "EQBCNY" THEN 0.000098
                        WHEN "EQSCNY" THEN 0.001098
                        WHEN "EQBHKD" THEN 0.00108
                        WHEN "EQSHKD" THEN 0.00108
                        WHEN "EQSTWD" THEN 0.003
                        WHEN "EQSKRW" THEN 0.003
                        WHEN "EQBSGD" THEN 0.0004
                        WHEN "EQSSGD" THEN 0.0004
                        ELSE 0
                        END
              ) AS tax,
              (@asiadeal := IF (b.currencyCode  NOT IN ("JPY", "USD")  AND c.instrumentType IN ("EQ", "CB") AND d.brokerCommissionRate > 0.01,
                                a.gross * f.rate * (d.brokerCommissionRate - @tax ), 0)) AS asiaDeal,
              (@asiaResearch := IF(b.currencyCode  NOT IN ("JPY", "USD")  AND c.instrumentType IN ("EQ", "CB") AND @asiadeal=0, 
                IF(a.commissionRate-@tax-0.0005 >= 0, a.commissionRate-@tax-0.0005, 0) *f.rate*a.gross, 0)) AS asiaResearch,
              IF (b.currencyCode NOT  IN ("JPY", "USD")  AND c.instrumentType IN ("EQ", "CB") AND @asiadeal=0,
                0.0005 * f.rate * a.gross,
                IF (b.currencyCode NOT IN ("JPY", "USD")  AND c.instrumentType IN ("FU", "OP"), @commInUSD-@clearing, 0)
              ) AS asiaExecution,
              IF (a.swap="SWAP", @asiaResearch, 0)*1.0 AS HCSwaps
            FROM t08Reconcile a
              INNER JOIN t01Instrument c ON a.code = c.quick
              INNER JOIN t02Currency b ON b.currencyID = c.currencyID
              INNER JOIN t08Reconcile d ON a.matchDoric = d.primaryID # a.primaryID = d.matchBrokers AND d.srcFlag ="D"
              INNER JOIN t06DailyCrossRate f ON f.priceDate=a.tradeDate AND f.base=b.currencyCode AND f.quote="USD"
              LEFT JOIN t02Broker e ON e.brokerCode = a.brokerCode
              left join (select a.code, a.orderType, a.side, a.swap, a.tradeDate, a.settleDate, a.brokerCode, MAX(a.brokerCommissionRate) as commrate
            from t08Reconcile a
            where a.status="A" and a.srcFlag="D" and a.tradeDate >= '{}' and a.tradeDate <= '{}'
            group by a.code, a.orderType, a.side, a.swap, a.tradeDate, a.settleDate, a.brokerCode
              ) g ON a.code=g.code and a.orderType=g.orderType and a.side=g.side and a.swap=g.swap and a.tradeDate=g.tradeDate
                     and a.settleDate=g.settleDate  and d.brokerCode=g.brokerCode
            WHERE a.tradeDate>='{}' AND a.tradeDate <= '{}' AND a.srcFlag="K"
            ORDER BY a.tradeDate, a.code;
        """.format(start_date, end_date, start_date, end_date), con, parse_dates=['tradeDate'], index_col='tradeDate')
    return ytd_trades

In [8]:
def get_quarter_trades(year, quarter, ytd_trades):
    if quarter == 1:
        start = '{}-01-01'.format(year)
        end = '{}-03-31'.format(year)
    elif quarter == 2:
        start = '{}-04-01'.format(year)
        end = '{}-06-30'.format(year)
    elif quarter == 3:
        start = '{}-07-01'.format(year)
        end = '{}-09-30'.format(year)
    elif quarter == 4:
        start = '{}-10-01'.format(year)
        end = '{}-12-31'.format(year)
    else:
        return None
    return ytd_trades[start:end]

In [9]:
def format_2f(df):
    t = df.copy()
    columns = ['JPResearch', 'JPExec', 'JPDis', 'res_target', 'balance_usd']
    t[columns] = t[columns].applymap(lambda x: '$ {:12,.0f}'.format(x) if x != 0 else '')
    t['balance_jpy'] = t['balance_jpy'].apply(lambda x: '¥ {:12,.0f}'.format(x) if x != 0 else '')
    t['rank'] = t['rank'].apply(lambda x: '{:.0f}'.format(x) if not np.isnan(x) and x != 0  else '')
    t['research'] = t['research'].apply(lambda x: '{:5.2f}%'.format(x) if x > 0 else '')
    t['accrued'] = t['accrued'].apply(lambda x: '{:5.0f}%'.format(x) if not np.isnan(x) else '')
    t['exec_target'] = t['exec_target'].apply(lambda x: '{:5.0f}%'.format(x) if x > 0 else '')
    return t

In [10]:
def format_asia_2f(df):
    t = df.copy()
    columns = ['asiaResearch', 'asiaExecution', 'asiaDeal', 'res_target', 'balance_usd']
    t[columns] = t[columns].applymap(lambda x: '$ {:12,.0f}'.format(x) if x != 0 else '')
    t['balance_hkd'] = t['balance_hkd'].apply(lambda x: '$ {:12,.0f}'.format(x) if x != 0 else '')
    t['HCSwaps'] = t['HCSwaps'].apply(lambda x: '$ {:12,.0f}'.format(x) if x != 0 else '')
    t['rank'] = t['rank'].apply(lambda x: '{:.0f}'.format(x) if not np.isnan(x) else '')
    t['research'] = t['research'].apply(lambda x: '{:5.2f}%'.format(x) if x > 0 else '')
    t['accrued'] = t['accrued'].apply(lambda x: '{:5.0f}%'.format(x) if not np.isnan(x) else '')
    t['execution'] = t['execution'].apply(lambda x: '{:5.0f}%'.format(x) if x > 0 else '')
    return t

In [11]:
def get_csa_brokers(date, region='Japan'):
    quarter = calculate_quarter(date.month)
    prev_quarter = 4 if quarter == 1 else quarter - 1
    date_str = date.strftime('%Y-%m-%d')
    
    return pd.read_sql("""
    SELECT a.name AS master_brokers, d.name AS brokers, 
    #c.balance_usd AS balance,c.budget_target AS research,
    d.region
    FROM brokers a
    INNER JOIN broker_csa b ON a.id=b.master_broker_id
      INNER JOIN broker_ranks c ON b.sub_broker_id=c.broker_id
      INNER JOIN brokers d ON b.sub_broker_id=d.id
    WHERE a.region="{}" AND b.start_date <= "{}"
      AND (b.end_date IS NULL OR b.end_date >= "{}")
      AND c.year={}
      AND c.quarter={}
    """.format(region, date_str, date_str, date.year, prev_quarter), con)

In [12]:
def calculate_soft(quarter_trades, year, month):
    month_key = '{}-{:02d}'.format(year, month)
    if month_key in quarter_trades.index:
        mon_trades = quarter_trades[month_key]
        soft = "{:,.0f}".format(mon_trades[(mon_trades['brokerName'] == 'Soft')]['JPResearch'].sum())
        soft_ms = "{:,.0f}".format(mon_trades[mon_trades['brokerName'] == 'Soft']['JPExec'].sum())
        return soft, soft_ms
    else:
        return 0, 0

In [13]:
def get_fx_rate(price_date):
    """ return tuple of fx rate for USDJPY and USDHKD
    """
    query = """SELECT a.quote, a.rate
                    FROM t06DailyCrossRate a
                    WHERE a.priceDate="{}" AND a.quote IN ("JPY", "HKD") AND a.base="USD"
    """

    t = pd.read_sql(query.format(price_date.strftime('%Y-%m-%d')), con, index_col="quote")
    return t.loc['JPY', 'rate'], t.loc['HKD', 'rate']

In [14]:
def get_ranks(year, quarter, region='Japan'):
    return pd.read_sql('''
                SELECT b.name AS brokers, a.rank, a.balance_usd AS balance, 
                        a.budget_target AS research
                FROM broker_ranks a
                INNER JOIN brokers b ON a.broker_id=b.id
                WHERE a.year={} AND a.quarter='Q{}' AND b.region='{}'
        '''.format(year, quarter, region), con, index_col='brokers')

In [15]:
def get_annual_budget(for_year):
    query = """SELECT a.region, a.amount
                        FROM commission_budget a
                        WHERE a.year={}
    """.format(for_year)

    budget_df = pd.read_sql(query, con, index_col='region')
    return budget_df.loc['Japan', 'amount'], budget_df.loc['NonJapan', 'amount']

In [16]:
def calculate_columns_asia(quarter_trades, ranks_df, asia_quarter_commission_budget, usd_hkd,
                      request_date, ubs_include_list=[]):

    def zero_out_ubs_include(df, ubs_list):
        """ assume index is brokerName, and balance_usd column is already created
        """
        t = df.copy()
        for broker in ubs_list:
            t.loc[broker, 'balance_usd'] = 0

        return t

    # quarter = calculate_quarter(request_date.month)
    # budget_ratio = (request_date.month - (quarter - 1) * 3) / 3.0

    rank_df = ranks_df.copy()
    balance = rank_df['balance']
    for broker in ubs_include_list:
        rank_df.loc['UBS', 'research'] += rank_df.loc[broker, 'research']
        rank_df.loc[broker, 'research'] = 0

    ranked_df = (quarter_trades[(quarter_trades['currencyCode'] != "JPY") & (quarter_trades['currencyCode'] != "USD")]
                 .groupby(['brokerName'])
                 .sum()[['asiaResearch', 'asiaExecution', 'asiaDeal', 'HCSwaps']]
                 .assign(asiaYTD=lambda x: x.asiaResearch + x.asiaExecution)
                 .merge(rank_df, how='right', left_index=True, right_index=True)
                 .fillna(0)
                 .sort_values(by='rank')
                 )
    bal = balance.reindex(ranked_df.index)
    table = (ranked_df.assign(res_target=lambda df: df['research'] * asia_quarter_commission_budget / 100 +
                                                    (bal if bal is not None else 0))
             .assign(balance_usd=lambda df: df['res_target'] - df['asiaResearch'])
             .pipe(zero_out_ubs_include, ubs_include_list)
             .assign(balance_hkd=lambda df: df['balance_usd'] * usd_hkd)
             .assign(accrued=lambda df: df['asiaExecution'] * 100 / df['asiaExecution'].sum())
             .reset_index()
             .set_index('rank')
             )

    return table

In [17]:
def calculate_commission_asia_table(table_param, nonjp_paid_on_jp):
    table = table_param.copy()
    exec_target = [15, 15, 15, 15, 15, 5, 5, 5, 5, 5]
    if len(exec_target) < len(table.index):
        exec_target = exec_target + [0] * (len(table.index) - len(exec_target))

    table['execution'] = pd.Series(exec_target, index=table.index)
    
    table = table[~table['brokers'].isin(nonjp_paid_on_jp['brokers'].values.tolist())]

    return (table
            .reset_index()
            .append(table[['research', 'res_target', 'asiaResearch', 'asiaExecution',
                           'balance_usd', 'balance_hkd', 'execution', 'accrued', 'asiaDeal', 'HCSwaps']].sum(), 
                    ignore_index=True)
            # .fillna(0)
            .pipe(format_asia_2f)
            [['rank', 'brokers', 'research', 'res_target', 'asiaResearch', 'balance_usd', 'balance_hkd',
              'execution', 'accrued', 'asiaExecution', 'asiaDeal', 'HCSwaps']]
            )

In [18]:
%time ytd_trades = get_ytd_trades(date)

CPU times: user 3.28 s, sys: 41 ms, total: 3.32 s
Wall time: 3.89 s

In [19]:
calendar = jpd.JapaneseHolidayCalendar()
cday = pd.offsets.CDay(calendar=calendar)

In [20]:
indexer = pd.date_range('{}-{}-{}'.format(date.year, 1, 1), '{}-{}-{}'.format(date.year, 12, 31), freq=cday)

In [21]:
# Asia commission budget is 2mm  USD per year
# Japan has gone through a few iterations but it's basically approximately 7.5 mm USD per year
# jp_annual_commission_budget = 7500000  # usd
# asia_annual_commission_budget = 2000000  # usd

jp_annual_commission_budget, asia_annual_commission_budget = get_annual_budget(date.year)

jp_quarter_commission_budget = jp_annual_commission_budget / 4.0
asia_quarter_commission_budget = asia_annual_commission_budget / 4.0

# jp_quarter_commission_budget = 10031527/4.0  # to make it same with old system 2016Q1

In [22]:
csa_brokers = get_csa_brokers(date)
# nonjapan_indexer = csa_brokers[csa_brokers['region'] == 'NonJapan']['research'].index
# csa_brokers.loc[nonjapan_indexer, 'research'] = csa_brokers.loc[nonjapan_indexer, 'research'] * asia_quarter_commission_budget/jp_quarter_commission_budget
csa_brokers

  master_brokers                brokers    region
0            UBS  Japan Equity Research     Japan
1            UBS                  Tokai     Japan
2            UBS                   CLSA  NonJapan

In [23]:
csa_brokers['master_brokers'].unique().tolist()

['UBS']

In [24]:
nonjp_csa_brokers = get_csa_brokers(date, 'NonJapan')
nonjp_csa_brokers

  master_brokers            brokers    region
0            UBS            Kim Eng  NonJapan
1            UBS            Samsung  NonJapan
2            UBS               CIMB  NonJapan
3            UBS  Alliance Berstein  NonJapan

In [25]:
csa_brokers[csa_brokers['region'] == 'NonJapan']['brokers'].tolist()

['CLSA']

In [26]:
nonjp_csa_brokers['brokers'].tolist()

['Kim Eng', 'Samsung', 'CIMB', 'Alliance Berstein']

In [27]:
jp_ranks_df = get_ranks(prev_year,prev_quarter)

# usd_jpy = 102.66  # 2016Q2
# hkd_jpy = 7.759
usd_jpy, usd_hkd = get_fx_rate(date)
print(usd_jpy, usd_hkd)
quarter_trades = get_quarter_trades(date.year, quarter, ytd_trades)

(116.69, 7.7560000000000002)

In [28]:
nonjp_ranks_df = get_ranks(prev_year,prev_quarter, 'NonJapan')

In [29]:
def adjust_research(df, jp_quarter_commission_budget):
    t = df.copy()
    t['research'] = df['balance_usd'] *100/jp_quarter_commission_budget
    return t

pair_list = csa_brokers[csa_brokers['region'] == 'NonJapan'][['master_brokers', 'brokers']].values.tolist()
nonjp_paid_on_jp_broker_list = [ b[1] for b in pair_list]
asia_columns = calculate_columns_asia(quarter_trades, nonjp_ranks_df, asia_quarter_commission_budget, usd_hkd, 
                                      date, nonjp_csa_brokers['brokers'].tolist())


# need to get asia columns calculated to get balance to append to JP table.
nonjp_paid_on_jp = (asia_columns
 .merge(csa_brokers, how='inner', left_on='brokers', right_on='brokers')
 .pipe(adjust_research, jp_quarter_commission_budget)[['master_brokers', 'brokers', 'balance_usd', 'research']]
)

# nonjp_paid_on_jp[['master_brokers', 'brokers']].values.tolist()
# nonjp_paid_on_jp.groupby('master_brokers').sum().index.tolist()
# nonjp_paid_on_jp.drop('master_brokers', axis=1).set_index('brokers').rename(index={'CLSA': 'CLSA Asia'})
# asia_columns.drop(asia_columns['brokers'] == pd.Series(nonjp_paid_on_jp['brokers'].values.tolist()))

In [30]:
# calculate_columns(quarter_trades, jp_ranks_df, jp_quarter_commission_budget, usd_jpy, ubs_include_list, clsa_asia_target = 1.950146)
nonjp_paid_on_jp['brokers'].tolist()

['CLSA']

In [31]:
#csa_brokers[csa_brokers['region'] == 'Japan']['brokers'].tolist()
# csa_brokers['brokers'].tolist()
# csa_brokers[csa_brokers['region'] == 'Japan'][['master_brokers', 'brokers']].values.tolist()

In [32]:
def zero_out_ubs_include(df, ubs_list):
        """ assume index is brokerName, and balance_usd column is already created
        """
        t = df.copy()
        for broker in ubs_list:
            t.loc[broker, 'balance_usd'] = 0

        return t
    
rank_df = jp_ranks_df.copy()
balance = rank_df['balance']

ranked_df = (quarter_trades
         .groupby(['brokerName', 'currencyCode'])
         .sum()
         .loc[(slice(None), ['JPY', 'USD']), ['JPResearch', 'JPExec', 'JPDis']]
         .groupby(level=0).sum()
         .reset_index()
         .set_index('brokerName')
         .merge(rank_df, how='right', left_index=True,
                right_index=True)  # some names removed like Barclays and Softs
         .fillna(0)
         .sort_values(by='research', ascending=False)
            )

for (master, broker) in csa_brokers[csa_brokers['region'] == 'Japan'][['master_brokers', 'brokers']].values.tolist():
    ranked_df.loc[master, 'research'] += rank_df.loc[broker, 'research']
    ranked_df.loc[broker, 'research'] = 0

temp = nonjp_paid_on_jp.groupby('master_brokers').sum()
for master in temp.index.tolist():
    ranked_df.loc[master, 'research'] += temp.loc[master]['research']

bal = balance.reindex(ranked_df.index)
table = (ranked_df
         .assign(res_target=lambda df: df['research'] * jp_quarter_commission_budget / 100 + (bal if bal is not None else 0) )
         .assign(balance_usd=lambda df: df['res_target'] - df['JPResearch'] )
         .assign(balance_jpy=lambda df: df['balance_usd'] * usd_jpy)
         .assign(accrued=lambda df: (df['JPExec'] + df['JPDis']) * 100 / (df['JPExec'].sum() + df['JPDis'].sum()))
         .reset_index()
         .set_index('rank')
         )
# table

In [33]:
exec_target = [11, 11, 10, 10, 10, 7, 7, 7, 7, 7, 3, 3, 3, 2, 1]
if len(exec_target) < len(table.index):
    exec_target = exec_target + [0] * (len(table.index) - len(exec_target))
table['exec_target'] = pd.Series(exec_target, index=table.index)

final_table = (table
        .reset_index()
         .set_index('brokers')
         .append(nonjp_paid_on_jp
                 .drop('master_brokers', axis=1)
                 .set_index('brokers')
                 .rename(index={'CLSA': 'CLSA Asia'}))
             .fillna(0)
         .reset_index()
        .append(table[['research', 'res_target', 'JPResearch', 'JPExec',
                       'JPDis', 'balance_usd', 'balance_jpy', 'exec_target']].sum(), ignore_index=True)
        .pipe(format_2f)
        [['rank', 'brokers', 'research', 'res_target', 'JPResearch', 'JPExec',
          'JPDis', 'balance_usd', 'balance_jpy', 'exec_target', 'accrued']]
        )

### new requirement
need to restart balance_usd for specific broker from some month. for ex: MS from 2017 Jun

In [34]:
# calculate_commission(quarter1_trades, jp_ranks_df, jp_quarter_commission_budget, 
#                      usd_jpy, ubs_include_list=['Tokai', 'Japan Equity Research'], clsa_asia_target=0)

In [35]:
def check(df):
    t = df.copy()
    columns = [ 'balance_usd']
    t[columns] = t[columns].applymap(lambda x: '{:12.7f}'.format(x) if x != 0 else '')
    
    return t
table.pipe(check)

,brokers,JPResearch,JPExec,JPDis,balance,research,res_target,balance_usd,balance_jpy,accrued,exec_target
rank,,,,,,,,,,,
1,SMBC Nikko,"335,039.19","121,832.43","86,733.99","2,455.46",13.28,"335,511.05",471.8607247,"55,061.43",11.39,11
2,MS,"193,553.38","84,040.06","56,430.10","3,935.42",9.65,"245,985.82",52432.4358400,"6,118,340.94",7.67,11
3,Mizuho Securities,"228,104.15","82,946.96","106,114.22","1,430.87",9.16,"231,204.54",3100.3917169,"361,784.71",10.33,10
4,Nomura,"216,994.90","78,907.24","113,705.48","2,353.34",8.61,"218,330.61",1335.7096047,"155,863.95",10.52,10
5,Daiwa,"180,466.10","65,624.03","123,615.41","1,108.61",7.28,"183,709.21",3243.1152219,"378,439.12",10.34,10
6,Mitsubishi UFJ,"174,283.39","63,375.78","77,162.17","1,515.49",6.95,"175,848.69",1565.2971343,"182,654.52",7.68,7
7,CS,"164,515.41","59,823.79","60,472.18",-666.18,6.63,"165,484.82",969.4107494,"113,120.54",6.57,7
8,BAML,"175,195.44","88,809.27","46,495.09","7,132.98",5.91,"155,251.83",-19943.6055541,"-2,327,219.33",7.39,7
9,Citi,"146,327.20","55,194.17","79,996.66",631.84,5.83,"146,950.82",623.6153757,"72,769.68",7.38,7
10,JP Morgan,"139,590.53","50,760.19","72,336.32","-3,041.63",5.78,"141,830.63",2240.1055098,"261,397.91",6.72,7
11,Goldman Sachs,"119,521.28","43,462.29","23,214.96","1,322.22",4.79,"121,373.43",1852.1420711,"216,126.46",3.64,3
12,UBS,"199,906.98","72,693.45",0.00,"-53,233.02",7.82,"142,912.83",-56994.1521002,"-6,650,647.61",3.97,3
13,Macquarie,"53,200.90","19,345.78","27,619.20","1,780.60",2.12,"54,998.74",1797.8366505,"209,789.56",2.57,3
14,Jefferies,"52,657.39","19,148.14",0.00,"3,193.59",2.04,"54,283.00",1625.6067158,"189,692.05",1.05,2
15,BNP,"41,151.39","14,964.14",0.00,"2,156.22",1.57,"41,644.08",492.6874823,"57,491.70",0.82,1
16,Ichiyoshi,"36,205.32","13,165.57",0.00,"2,069.52",1.47,"39,002.91",2797.5917910,"326,450.99",0.72,0
17,Tokai,0.00,0.00,0.00,0.00,0.00,0.00,,0.00,0.00,0
18,Okasan,"30,464.15","11,077.87",0.00,"1,324.17",1.19,"31,232.76",768.6093702,"89,689.03",0.61,0
19,Deutsche,"28,380.26","10,320.09",0.00,"1,518.01",1.11,"29,297.88",917.6193288,"107,077.00",0.56,0
20,Japan Equity Research,0.00,0.00,0.00,0.00,0.00,0.00,,0.00,0.00,0
21,CLSA,"3,867.70","1,406.44",0.00,645.76,0.15,"4,371.03",503.3265834,"58,733.18",0.08,0

In [36]:
calculate_commission_asia_table(asia_columns, nonjp_paid_on_jp)

,rank,brokers,research,res_target,asiaResearch,balance_usd,balance_hkd,execution,accrued,asiaExecution,asiaDeal,HCSwaps
0,1,BAML,13.04%,"$ 65,053","$ 64,537",$ 516,"$ 3,999",15%,12%,"$ 20,428",,"$ 54,025"
1,2,Citi,12.73%,"$ 63,321","$ 67,751","$ -4,430","$ -34,361",15%,11%,"$ 18,339",,"$ 53,480"
2,3,CS,10.13%,"$ 53,605","$ 49,780","$ 3,824","$ 29,661",15%,10%,"$ 16,426",,"$ 43,634"
3,4,MS,8.78%,"$ 45,431","$ 39,639","$ 5,792","$ 44,924",15%,7%,"$ 11,805",,"$ 28,770"
4,5,JP Morgan,6.65%,"$ 42,265","$ 40,183","$ 2,082","$ 16,150",15%,8%,"$ 13,139",,
5,6,KGI Securities,5.92%,"$ 34,480","$ 30,059","$ 4,421","$ 34,292",5%,10%,"$ 15,893",,
6,7,Daiwa,5.46%,"$ 27,279","$ 25,418","$ 1,861","$ 14,432",5%,4%,"$ 6,860",,
7,8,Nomura,5.01%,"$ 30,263","$ 27,397","$ 2,866","$ 22,231",5%,5%,"$ 7,721",,"$ 7,239"
8,9,Fubon Securities,3.27%,"$ 17,992","$ 13,257","$ 4,735","$ 36,724",5%,4%,"$ 6,629",,
9,10,Goldman Sachs,2.96%,"$ 19,198","$ 16,938","$ 2,261","$ 17,533",,3%,"$ 5,010",,"$ 12,164"
10,11,UBS,7.77%,"$ 41,481","$ 39,952","$ 1,529","$ 11,863",,8%,"$ 13,337",,
11,12,Yuanta,2.66%,"$ 15,977","$ 10,196","$ 5,781","$ 44,841",,3%,"$ 5,098",,
12,13,Cantor,2.04%,"$ 17,480","$ 14,000","$ 3,480","$ 26,995",,3%,"$ 4,675",,
13,14,Deutsche,2.04%,"$ 22,975","$ 18,141","$ 4,834","$ 37,489",,4%,"$ 6,058",,
14,14,Samsung,,,,,,,0%,,,
15,15,Jefferies,1.94%,"$ 17,000","$ 13,522","$ 3,477","$ 26,969",,3%,"$ 4,516",,
16,16,Macquarie,1.64%,"$ 18,494","$ 15,042","$ 3,452","$ 26,777",,3%,"$ 5,023",,
17,17,Mizuho Securities,0.82%,"$ 10,869","$ 7,361","$ 3,508","$ 27,207",,1%,"$ 2,458",,
18,18,RHB OSK Securities Hong Kong Lim,0.41%,"$ 8,634","$ 5,388","$ 3,246","$ 25,175",,2%,"$ 2,700",,
19,19,CIMB,,,,,,,0%,,,
20,20,Kim Eng,,,,,,,0%,,,
21,21,Alliance Berstein,,,,,,,0%,,,
22,,NaN,93.26%,"$ 551,795","$ 498,559","$ 53,236","$ 412,900",95%,100%,"$ 166,113",,"$ 199,311"

In [37]:
# out_df = (jp_ranks_df.merge(t, how='inner', left_index=True, right_on='brokers')
#           .rename(columns={'research': 'budget_target', 'id': 'broker_id'})
#           .assign(year=2016)
#           .assign(quarter='Q1')
#            .drop(['name', 'brokers'], axis=1)
# )
# out_df.to_sql(name='broker_ranks', con=engine, if_exists = 'append', index=False)
## #out_df

In [38]:
qtd_clearing = "{:,.0f}".format(quarter_trades['Clearing'].sum())
ytd_clearing = "{:,.0f}".format(ytd_trades['Clearing'].sum())

months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
mon1, mon2, mon3 = [months[(quarter - 1) * 3 + i] for i in range(3)]  # get month names for quarter
m1, m2, m3 = [(quarter - 1) * 3 + i for i in range(1, 4)]  # get the month numbers for quarter

soft1, soft_ms1 = calculate_soft(quarter_trades, date.year, m1)
soft2, soft_ms2 = calculate_soft(quarter_trades, date.year, m2)
soft3, soft_ms3 = calculate_soft(quarter_trades, date.year, m3)

soft_qtd = '{:,.0f}'.format(quarter_trades[(quarter_trades['brokerName'] == 'Soft') &
                          (quarter_trades['currencyCode'] == 'JPY')]['JPResearch'].sum())
soft_msqtd = '{:,.0f}'.format(quarter_trades[(quarter_trades['brokerName'] == 'Soft') &
                          (quarter_trades['currencyCode'] == 'JPY')]['JPExec'].sum())

In [39]:
final_table

,rank,brokers,research,res_target,JPResearch,JPExec,JPDis,balance_usd,balance_jpy,exec_target,accrued
0,1,SMBC Nikko,13.28%,"$ 335,511","$ 335,039","$ 121,832","$ 86,734",$ 472,"¥ 55,061",11%,11%
1,2,MS,9.65%,"$ 245,986","$ 193,553","$ 84,040","$ 56,430","$ 52,432","¥ 6,118,341",11%,8%
2,3,Mizuho Securities,9.16%,"$ 231,205","$ 228,104","$ 82,947","$ 106,114","$ 3,100","¥ 361,785",10%,10%
3,4,Nomura,8.61%,"$ 218,331","$ 216,995","$ 78,907","$ 113,705","$ 1,336","¥ 155,864",10%,11%
4,5,Daiwa,7.28%,"$ 183,709","$ 180,466","$ 65,624","$ 123,615","$ 3,243","¥ 378,439",10%,10%
5,6,Mitsubishi UFJ,6.95%,"$ 175,849","$ 174,283","$ 63,376","$ 77,162","$ 1,565","¥ 182,655",7%,8%
6,7,CS,6.63%,"$ 165,485","$ 164,515","$ 59,824","$ 60,472",$ 969,"¥ 113,121",7%,7%
7,8,BAML,5.91%,"$ 155,252","$ 175,195","$ 88,809","$ 46,495","$ -19,944","¥ -2,327,219",7%,7%
8,9,Citi,5.83%,"$ 146,951","$ 146,327","$ 55,194","$ 79,997",$ 624,"¥ 72,770",7%,7%
9,10,JP Morgan,5.78%,"$ 141,831","$ 139,591","$ 50,760","$ 72,336","$ 2,240","¥ 261,398",7%,7%
10,11,Goldman Sachs,4.79%,"$ 121,373","$ 119,521","$ 43,462","$ 23,215","$ 1,852","¥ 216,126",3%,4%
11,12,UBS,7.82%,"$ 142,913","$ 199,907","$ 72,693",,"$ -56,994","¥ -6,650,648",3%,4%
12,13,Macquarie,2.12%,"$ 54,999","$ 53,201","$ 19,346","$ 27,619","$ 1,798","¥ 209,790",3%,3%
13,14,Jefferies,2.04%,"$ 54,283","$ 52,657","$ 19,148",,"$ 1,626","¥ 189,692",2%,1%
14,15,BNP,1.57%,"$ 41,644","$ 41,151","$ 14,964",,$ 493,"¥ 57,492",1%,1%
15,16,Ichiyoshi,1.47%,"$ 39,003","$ 36,205","$ 13,166",,"$ 2,798","¥ 326,451",,1%
16,17,Tokai,,,,,,,,,0%
17,18,Okasan,1.19%,"$ 31,233","$ 30,464","$ 11,078",,$ 769,"¥ 89,689",,1%
18,19,Deutsche,1.11%,"$ 29,298","$ 28,380","$ 10,320",,$ 918,"¥ 107,077",,1%
19,20,Japan Equity Research,,,,,,,,,0%
20,21,CLSA,0.15%,"$ 4,371","$ 3,868","$ 1,406",,$ 503,"¥ 58,733",,0%
21,,CLSA Asia,1.34%,,,,,"$ 33,710",,,0%
22,,NaN,101.34%,"$ 2,519,225","$ 2,519,425","$ 956,898","$ 873,896",$ -200,"¥ -23,384",99%,

In [40]:
# q1 = get_quarter_trades(2016, 1, ytd_trades)
q3 = get_quarter_trades(2016, 3, ytd_trades)

For monthly balance need to divided res_target by 3 to find balance, but for quarter calculation, do not need to divide by 3.

In [41]:
# # debug duplicated trades for 2016Q1
# ubsw = q1[q1['brokerCode'] == 'UBSW']
# jan14 = ubsw.loc['2016-01-14']
# jan14[jan14['code'] == '6305']
# baml = q3[q3['brokerCode'] == 'MERT']
# sept = baml.loc['2016-09-30':'2016-09-30']
# sept[['code', 'fundCode', 'orderType', 'side', 'swap', 'JPDis']]

In [42]:
# citi = q3[q3['brokerCode'] == 'SALH']
# citi.loc['2016-09-15':'2016-09-15'][['code', 'fundCode', 'orderType', 'side', 'swap', 'JPResearch', 'JPDis', 'JPExec']]

In [43]:
# baml = q3[q3['brokerCode'] == 'MERT']
# sept = baml.loc['2016-09-06':'2016-09-07']
# sept[['code', 'fundCode', 'orderType', 'side', 'swap', 'asiaResearch']]

In [44]:
# cs = q3[q3['brokerCode'] == 'CSFH']
# cs.loc['2016-09-27':'2016-09-30'][['code', 'fundCode', 'orderType', 'side', 'swap', 'asiaResearch']]

mzh = q3[q3['brokerCode'] == 'IBJA']
mzh.loc['2016-09-01':'2016-09-30'][['code', 'fundCode', 'orderType', 'side', 'swap', 'asiaResearch']].sum()

code            4243510551055105893529142914291446804680777977...
fundCode        PLOJ201004F0890004F08910PLOJ2010PLOJ201004F089...
orderType       SSSSSBBBBBBBBBBBBBBBBBSSBBBBBBBBBBSSSBSSSBBSSB...
side            LLLLLLLLSSSSSSSSLLLSSSLLLLLSLLLSSSLLLLSSSLSLLL...
swap
asiaResearch                                             9,115.89
dtype: object

In [45]:
## debug duplicated trades for 2016Q2
# smbc = quarter_trades[quarter_trades['brokerCode'] == 'NIKK']
# print(smbc['JPResearch'].sum())
# smbc.loc['2016-05-17':'2016-05-17']['JPResearch'].sum() #[['code', 'fundCode', 'orderType', 'side', 'swap', 'JPResearch']]
# smbc.loc['2016-05-17':'2016-05-17']#[['code', 'fundCode', 'orderType', 'side', 'swap', 'JPResearch']]

In [46]:
# calculate_columns_asia(quarter_trades, nonjp_ranks_df, asia_quarter_commission_budget, usd_hkd, date, ['Kim Eng', 'Samsung', 'CIMB'])#.pipe(check)
calculate_columns_asia(quarter_trades, nonjp_ranks_df, asia_quarter_commission_budget, usd_hkd, 
                                      date, nonjp_csa_brokers['brokers'].tolist()).pipe(check)

,brokers,asiaResearch,asiaExecution,asiaDeal,HCSwaps,asiaYTD,balance,research,res_target,balance_usd,balance_hkd,accrued
rank,,,,,,,,,,,,
1,BAML,"64,536.92","20,427.63",0.00,"54,024.87","84,964.56",-147.52,13.04,"65,052.51",515.5890515,"3,998.91",12.30
2,Citi,"67,750.86","18,338.71",0.00,"53,480.15","86,089.58",-321.16,12.73,"63,320.68",-4430.1846944,"-34,360.51",11.04
3,CS,"49,780.32","16,426.43",0.00,"43,633.78","66,206.75","2,967.66",10.13,"53,604.57",3824.2521449,"29,660.90",9.89
4,MS,"39,638.64","11,805.39",0.00,"28,769.70","51,444.03","1,509.36",8.78,"45,430.77",5792.1322573,"44,923.78",7.11
5,JP Morgan,"40,182.82","13,139.23",0.00,0.00,"53,322.06","9,025.22",6.65,"42,265.05",2082.2234274,"16,149.72",7.91
6,CLSA,0.00,0.00,0.00,0.00,0.00,0.00,6.74,"33,709.67",33709.6660000,"261,452.17",0.00
6,KGI Securities,"30,058.62","15,892.70",0.00,0.00,"45,951.32","4,858.86",5.92,"34,479.95",4421.3301350,"34,291.84",9.57
7,Daiwa,"25,417.79","6,859.58",0.00,0.00,"32,277.37",0.79,5.46,"27,278.51",1860.7248044,"14,431.78",4.13
8,Nomura,"27,396.91","7,720.56",0.00,"7,238.51","35,117.47","5,235.18",5.01,"30,263.27",2866.3612728,"22,231.50",4.65
9,Fubon Securities,"13,257.11","6,628.57",0.00,0.00,"19,885.68","1,647.09",3.27,"17,992.04",4734.9263183,"36,724.09",3.99
10,Goldman Sachs,"16,937.62","5,009.54",0.00,"12,163.53","21,947.16","4,386.70",2.96,"19,198.17",2260.5487735,"17,532.82",3.02
11,UBS,"39,951.71","13,336.84",0.00,0.00,"53,288.55","2,652.43",7.77,"41,481.18",1529.4748054,"11,862.61",8.03
12,Yuanta,"10,196.00","5,098.01",0.00,0.00,"15,294.01","2,698.17",2.66,"15,977.47",5781.4756831,"44,841.13",3.07
13,Cantor,"13,999.53","4,675.01",0.00,0.00,"18,674.54","7,261.05",2.04,"17,480.01",3480.4798000,"26,994.60",2.81
14,Deutsche,"18,141.12","6,057.92",0.00,0.00,"24,199.04","12,758.35",2.04,"22,974.71",4833.5935189,"37,489.35",3.65
14,Samsung,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,,0.00,0.00
15,Jefferies,"13,522.43","4,515.87",0.00,0.00,"18,038.30","7,291.34",1.94,"16,999.58",3477.1532844,"26,968.80",2.72
16,Macquarie,"15,041.90","5,023.35",0.00,0.00,"20,065.25","10,317.85",1.64,"18,494.32",3452.4189666,"26,776.96",3.02
17,Mizuho Securities,"7,361.08","2,457.85",0.00,0.00,"9,818.93","6,782.93",0.82,"10,868.89",3507.8152237,"27,206.61",1.48
18,RHB OSK Securities Hong Kong Lim,"5,387.74","2,699.83",0.00,0.00,"8,087.57","6,586.84",0.41,"8,633.67",3245.9251782,"25,175.40",1.63
19,CIMB,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,,0.00,0.00
20,Kim Eng,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,,0.00,0.00
21,Alliance Berstein,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,,0.00,0.00

In [47]:
def format_all_2f(df):
    t = df.copy()
    t = t.applymap(lambda x: '$ {:12,.0f}'.format(x) if x != 0 and type(x) != str else (x if type(x) == str else ''))
    return t

In [48]:
def get_csa_payment(year, quarter):
    csa_cum_payment = pd.read_sql("""
        SELECT a.name AS brokerName, e.name AS master_broker,
            IF(a.region="Japan", IF(b.currency_code="JPY", SUM(b.amount) / c.finalFXRate, SUM(b.amount)), 0) AS JPResearch,
            IF(a.region="NonJapan", IF(b.currency_code="JPY", SUM(b.amount) / c.finalFXRate, SUM(b.amount)), 0) AS asiaResearch
        FROM brokers a
        INNER JOIN csa_payment b ON a.id=b.broker_id
          LEFT JOIN broker_csa d ON a.id=d.sub_broker_id
          LEFT JOIN brokers e ON d.master_broker_id=e.id
          LEFT JOIN (
            SELECT DISTINCT (TRUNCATE((MONTH(a.processDate) - 1) / 3, 0) + 1) AS quarter, a.finalFXRate
        FROM t05PortfolioReportEvent a
        WHERE YEAR(a.processDate)={} AND a.dataType="SUB_RED"
          AND MONTH(a.processDate) IN (3,6,9,12)
        ORDER BY a.processDate DESC
            ) c ON b.quarter = CONCAT("Q", c.quarter)
        WHERE b.year={} AND b.quarter <= "Q{}"
        GROUP BY a.name;
        """.format(year, year, quarter), con, index_col="brokerName")
    return csa_cum_payment

In [49]:
if indexer[-1].to_pydatetime() == date:
    csa_cum_payment = get_csa_payment(date.year, quarter)
else:
    csa_cum_payment = get_csa_payment(date.year, prev_quarter)

In [50]:
date.year, prev_quarter

(2016, 3)

In [51]:
# the amount of money paid as CSA to brokers. 
# Need to add this to YTD amount, and minus it from broker which pay other brokers for reaseach service
csa_cum_payment

                      master_broker  JPResearch  asiaResearch
brokerName
Alliance Berstein               UBS        0.00      2,800.00
CIMB                            UBS        0.00     25,289.00
CLSA                            UBS        0.00    123,558.00
Japan Equity Research           UBS   79,290.80          0.00
Kim Eng                         UBS        0.00     23,420.00
Samsung                         UBS        0.00     27,596.00
Tokai                           UBS  116,553.22          0.00

In [52]:
csa_cum_payment.loc['CLSA', 'master_broker']

'UBS'

In [53]:
qtd_sum = (quarter_trades
 .groupby(['brokerName'])
 .sum()[['JPResearch', 'JPDis', 'JPExec', 'asiaDeal', 'asiaResearch', 'asiaExecution', 'HCSwaps']]
 .assign(japan_qtd=lambda df: df['JPResearch'] + df['JPExec'] + df['JPDis'])
 .assign(asia_qtd = lambda df: df['asiaDeal'] + df['asiaResearch'] + df['asiaExecution'])
           [['japan_qtd', 'asia_qtd']]
)
qtd_sum

                                  japan_qtd  asia_qtd
brokerName
BAML                             310,499.79 84,964.56
BNP                               56,115.53      0.00
CLSA                               5,274.14      0.00
CS                               284,811.39 66,206.75
Cantor                                 0.00 18,674.54
Citi                             281,518.03 86,089.58
Daiwa                            369,705.54 32,277.37
Deutsche                          38,700.35 24,199.04
Fubon Securities                       0.00 19,885.68
Goldman Sachs                    186,198.53 21,947.16
Ichiyoshi                         49,370.89      0.00
JP Morgan                        262,687.05 53,322.06
Jefferies                         71,805.53 18,038.30
KGI Securities                         0.00 45,951.32
MS                               334,023.55 51,444.03
Macquarie                        100,165.88 20,065.25
Mitsubishi UFJ                   314,821.34      0.00
Mizuho Securities                417,165.34  9,818.93
Nomura                           409,607.62 35,117.47
Okasan                            41,542.02      0.00
RHB OSK Securities Hong Kong Lim       0.00  8,087.57
SMBC Nikko                       543,605.61      0.00
Soft                             205,944.40      0.00
UBS                              272,600.43 53,288.55
Yuanta                                 0.00 15,294.01

In [54]:
def apply_csa_sum(df, csa_cum_payment):
    # for each broker belong to a master broker which pay CSA 
    for broker in csa_cum_payment.index:
        if broker in df.index:
            if csa_cum_payment.loc[broker, 'asiaResearch'] > 0:
                df.loc[broker, 'asiaResearch'] += csa_cum_payment.loc[broker, 'asiaResearch']
            if csa_cum_payment.loc[broker, 'JPResearch'] > 0:
                df.loc[broker, 'JPResearch'] += csa_cum_payment.loc[broker, 'JPResearch']
        else:
            df = df.append(csa_cum_payment.loc[broker])
    return df

In [55]:
def remove_csa_sum(df, csa_cum_payment, nonjp_paid_on_jp):
    # for each broker belong to a master broker which pay CSA 
    for broker in csa_cum_payment.index:
        master_broker = csa_cum_payment.loc[broker, 'master_broker']
        if csa_cum_payment.loc[broker, 'asiaResearch'] > 0 and broker not in nonjp_paid_on_jp['brokers'].tolist():
            df.loc[master_broker, 'asia_ytd'] -= csa_cum_payment.loc[broker, 'asiaResearch']
        elif csa_cum_payment.loc[broker, 'asiaResearch'] > 0 and broker in nonjp_paid_on_jp['brokers'].tolist():
            df.loc[master_broker, 'japan_ytd'] -= csa_cum_payment.loc[broker, 'asiaResearch']
        if csa_cum_payment.loc[broker, 'JPResearch'] > 0:
            df.loc[master_broker, 'japan_ytd'] -= csa_cum_payment.loc[broker, 'JPResearch']
    return df

In [56]:
(ytd_trades
 .groupby('brokerName')
 .sum()[['JPResearch', 'JPDis', 'JPExec', 'asiaDeal', 'asiaResearch', 'asiaExecution', 'HCSwaps']]
 .assign(japan_exe_ytd = lambda df: df['JPExec'] + df['JPDis'])
 .pipe(apply_csa_sum, (csa_cum_payment))
 .fillna(0)
 .assign(japan_ytd = lambda df: df['JPResearch'] + df['JPExec'] + df['JPDis'])
 .assign(asia_ytd = lambda df: df['asiaResearch'] + df['asiaExecution'] + df['asiaDeal'])  # + csa difference
 .pipe(remove_csa_sum, csa_cum_payment, nonjp_paid_on_jp)
 .assign(total_ytd = lambda df: df['japan_ytd'] + df['asia_ytd'])
 .merge(qtd_sum, how='left', left_index=True, right_index=True)
 .assign(total_qtd = lambda df: df['japan_qtd'] + df['asia_qtd'])
 .drop('Soft', axis=0)
 .fillna(0)
 .sort_values('total_ytd', ascending=False)
.reset_index()
.pipe(format_all_2f)
[['brokerName', 'japan_qtd', 'JPResearch', 'japan_exe_ytd', 'japan_ytd', 'asia_qtd', 'asia_ytd', 'total_qtd', 'total_ytd']]
)

,brokerName,japan_qtd,JPResearch,japan_exe_ytd,japan_ytd,asia_qtd,asia_ytd,total_qtd,total_ytd
0,Nomura,"$ 409,608","$ 1,028,071","$ 830,330","$ 1,858,401","$ 35,117","$ 133,959","$ 444,725","$ 1,992,360"
1,SMBC Nikko,"$ 543,606","$ 1,043,639","$ 775,614","$ 1,819,253",,,"$ 543,606","$ 1,819,253"
2,Mizuho Securities,"$ 417,165","$ 964,003","$ 788,630","$ 1,752,633","$ 9,819","$ 22,720","$ 426,984","$ 1,775,354"
3,BAML,"$ 310,500","$ 689,895","$ 537,189","$ 1,227,084","$ 84,965","$ 302,289","$ 395,464","$ 1,529,373"
4,Daiwa,"$ 369,706","$ 732,552","$ 694,679","$ 1,427,231","$ 32,277","$ 78,902","$ 401,983","$ 1,506,133"
5,MS,"$ 334,024","$ 696,955","$ 515,208","$ 1,212,163","$ 51,444","$ 201,708","$ 385,468","$ 1,413,871"
6,Citi,"$ 281,518","$ 643,083","$ 527,740","$ 1,170,824","$ 86,090","$ 231,667","$ 367,608","$ 1,402,491"
7,Goldman Sachs,"$ 186,199","$ 680,548","$ 509,622","$ 1,190,171","$ 21,947","$ 93,101","$ 208,146","$ 1,283,272"
8,CS,"$ 284,811","$ 558,558","$ 436,394","$ 994,952","$ 66,207","$ 269,760","$ 351,018","$ 1,264,712"
9,Mitsubishi UFJ,"$ 314,821","$ 690,950","$ 567,260","$ 1,258,209",,,"$ 314,821","$ 1,258,209"
10,JP Morgan,"$ 262,687","$ 570,948","$ 454,071","$ 1,025,019","$ 53,322","$ 204,569","$ 316,009","$ 1,229,589"
11,UBS,"$ 272,600","$ 883,560","$ 381,840","$ 945,998","$ 53,289","$ 109,135","$ 325,889","$ 1,055,133"
12,BNP,"$ 56,116","$ 215,804","$ 148,837","$ 364,640",,,"$ 56,116","$ 364,640"
13,Jefferies,"$ 71,806","$ 151,016","$ 54,915","$ 205,932","$ 18,038","$ 91,539","$ 89,844","$ 297,470"
14,Macquarie,"$ 100,166","$ 110,485","$ 67,796","$ 178,281","$ 20,065","$ 74,423","$ 120,231","$ 252,704"
15,Ichiyoshi,"$ 49,371","$ 158,841","$ 57,760","$ 216,602",,,"$ 49,371","$ 216,602"
16,CLSA,"$ 5,274","$ 18,278","$ 6,646","$ 24,924",,"$ 191,649","$ 5,274","$ 216,573"
17,Deutsche,"$ 38,700","$ 104,262","$ 39,034","$ 143,296","$ 24,199","$ 57,936","$ 62,899","$ 201,232"
18,KGI Securities,,,,,"$ 45,951","$ 146,457","$ 45,951","$ 146,457"
19,Okasan,"$ 41,542","$ 105,366","$ 38,315","$ 143,680",,,"$ 41,542","$ 143,680"
20,Tokai,,"$ 116,553",,"$ 116,553",,,,"$ 116,553"
21,Fubon Securities,,,,,"$ 19,886","$ 79,807","$ 19,886","$ 79,807"
22,Japan Equity Research,,"$ 79,291",,"$ 79,291",,,,"$ 79,291"
23,Yuanta,,,,,"$ 15,294","$ 77,011","$ 15,294","$ 77,011"
24,Cantor,,,,,"$ 18,675","$ 76,396","$ 18,675","$ 76,396"
25,Samsung,,,,,,"$ 27,596",,"$ 27,596"
26,CIMB,,,,,,"$ 25,289",,"$ 25,289"
27,Kim Eng,,,,,,"$ 23,420",,"$ 23,420"
28,RHB OSK Securities Hong Kong Lim,,,,,"$ 8,088","$ 16,724","$ 8,088","$ 16,724"
29,Barclays,,"$ 5,992","$ 2,179","$ 8,171",,,,"$ 8,171"
30,Alliance Berstein,,,,,,"$ 2,800",,"$ 2,800"

In [57]:
# q2jpm = ytd_trades #.loc['2017-04-03':]  #,ytd_trades['brokerCode'] == 'JPMF']
# q2jpm[(q2jpm['brokerCode'] == 'RHBO') & (q2jpm['currencyCode'] != 'JPY')]

In [58]:
# from IPython.display import display, HTML
#HTML(q1[(q1['currencyCode'] == 'HKD') & (q1['brokerCode'] == 'MERT')].to_html())
#HTML(q1[(q1['currencyCode'] != 'JPY') & (q1['brokerName'] == 'Nomura')].to_html())
# q1[(q1['currencyCode'] != 'JPY') & (q1['brokerName'] == 'UBS')].count()

In [59]:
# con.close()