In [1]:
#%matplotlib inline
import pandas as pd
from pandas import DataFrame
from pandas.io import sql
from pandas.tseries.offsets import *
import numpy as np
from pprint import pprint
# import pylab as plt
import pymysql
# import seaborn
# from matplotlib import pyplot
from datetime import datetime,timedelta
import csv
import math
pd.options.display.float_format = '{:,.2f}'.format
import json
from IPython.display import display, HTML
from sqlalchemy import create_engine

In [2]:
ubs_include_list = ['Tokai', 'Japan Equity Research']

In [12]:
date = '2016-06-30'
# date = '2016-03-31'
# date = '2016-04-01'

if date is None:
    date = datetime.date.today()
else:
    try:
        date = datetime.strptime(date, '%Y-%m-%d')
    except ValueError:
        date = datetime.date.today()

quarter = (date.month-1) // 3 + 1

prev_quarter = 4 if quarter == 1 else quarter - 1
prev_year = date.year - 1 if quarter == 1 else date.year

In [3]:
with open('config.json') as f:
    conf = json.load(f)

In [99]:
con = pymysql.connect(host=conf['host'], user=conf['user'], passwd=conf['password'], db=conf['database'])
engine = create_engine('mysql+pymysql://root:root@localhost:3306/hkg02p', echo=False)

In [34]:
def calculate_quarter(from_month):
    return (from_month - 1) // 3 + 1

In [5]:
def get_ytd_trades(date):
    """
    return all trades from start of year upto date
    :param date: the year to get trades
    :return: DataFrame of all trades of year
    """

    start_date = '{}-01-01'.format(date.year)
    end_date = datetime.strftime(date, '%Y-%m-%d')

    ytd_trades = sql.read_sql("""
        SELECT a.code, a.fundCode, a.orderType, a.side, a.swap, a.tradeDate, a.PB, 
              g.commrate as gcomrate, d.brokerCommissionRate,
              # a.commission,
              (@commInUSD := a.commission*f.rate) AS commInUSD,
              (@commrate := IF (g.commrate IS NOT NULL, ROUND(g.commrate,4), ROUND(d.brokerCommissionRate,4))) AS CommRate,
              (@jpresearch := IF(b.currencyCode IN ("JPY", "USD") AND c.instrumentType="EQ" AND  (@commrate<> 0.0004), 
                  @commInUSD*11/15,0)*1.0) AS JPResearch,
                  IF(b.currencyCode IN ("JPY", "USD") AND c.instrumentType="EQ" AND (@commrate=0.0004), 
                      @commInUSD, 
                      0)*1.0 AS JPDis,
              (@clearing:=
              IF (c.instrumentType IN ("FU", "OP"), 
                  IF(SUBSTRING(a.code, 1, 2) IN ("TP", "NK"), 500, 
                    IF(SUBSTRING(a.code, 1, 2)="JP",50, 
                    IF(SUBSTRING(a.code, 1, 2) IN ("HC", "HI"), 30, 0) 
                )
               ) * a.quantity *f.rate, 0  )) AS Clearing,
              IF(b.currencyCode IN ("JPY", "USD")  AND c.instrumentType="EQ" AND (@commrate=0.0004 OR @commrate=0),
                  0,
                  IF(b.currencyCode IN ("JPY", "USD")  AND c.instrumentType="EQ",
                  @commInUSD - @jpresearch,
                  IF(b.currencyCode="JPY" AND c.instrumentType IN ("FU", "OP"), 
                  @commInUSD - @clearing,0) )) AS JPExec,
              d.brokerCode, c.instrumentType, b.currencyCode,
              IF(d.brokerCode="BXS", "Soft", IF(d.brokerCode="INSH", "Nomura",e.name)) AS brokerName,
              (@tax := CASE CONCAT(c.instrumentType, a.orderType, b.currencyCode)
                        WHEN "EQBCNY" THEN 0.000098
                        WHEN "EQSCNY" THEN 0.001098
                        WHEN "EQBHKD" THEN 0.00108
                        WHEN "EQSHKD" THEN 0.00108
                        WHEN "EQSTWD" THEN 0.003
                        WHEN "EQSKRW" THEN 0.003
                        WHEN "EQBSGD" THEN 0.0004
                        WHEN "EQSSGD" THEN 0.0004
                        ELSE 0
                        END
              ) AS tax,
              (@asiadeal := IF (b.currencyCode  NOT IN ("JPY", "USD")  AND c.instrumentType="EQ" AND d.brokerCommissionRate > 0.01,
                                a.gross * f.rate * (d.brokerCommissionRate - @tax ), 0)) AS asiaDeal,
              (@asiaResearch := IF(b.currencyCode  NOT IN ("JPY", "USD")  AND c.instrumentType="EQ" AND @asiadeal=0, 
                IF(d.brokerCommissionRate-@tax-0.0005>= 0, d.brokerCommissionRate-@tax-0.0005, 0) *f.rate*a.gross, 0)) AS asiaResearch,
              IF (b.currencyCode NOT  IN ("JPY", "USD")  AND c.instrumentType="EQ" AND @asiadeal=0,
                0.0005 * f.rate * a.gross,
                IF (b.currencyCode NOT IN ("JPY", "USD")  AND c.instrumentType IN ("FU", "OP"), @commInUSD-@clearing, 0)
              ) AS asiaExecution,
              IF (a.swap="SWAP", @asiaResearch, 0)*1.0 AS HCSwaps
            FROM t08Reconcile a
              INNER JOIN t01Instrument c ON a.code = c.quick
              INNER JOIN t02Currency b ON b.currencyID = c.currencyID
              INNER JOIN t08Reconcile d ON a.matchDoric = d.primaryID # a.primaryID = d.matchBrokers AND d.srcFlag ="D"
              INNER JOIN t06DailyCrossRate f ON f.priceDate=a.tradeDate AND f.base=b.currencyCode AND f.quote="USD"
              LEFT JOIN t02Broker e ON e.brokerCode = a.brokerCode
              left join (select a.code, a.orderType, a.side, a.swap, a.tradeDate, a.settleDate, a.brokerCode, MAX(a.brokerCommissionRate) as commrate
            from t08Reconcile a
            where a.status="A" and a.srcFlag="D" and a.tradeDate >= '{}' and a.tradeDate <= '{}'
            group by a.code, a.orderType, a.side, a.swap, a.tradeDate, a.settleDate, a.brokerCode
              ) g ON a.code=g.code and a.orderType=g.orderType and a.side=g.side and a.swap=g.swap and a.tradeDate=g.tradeDate
                     and a.settleDate=g.settleDate  and d.brokerCode=g.brokerCode
            WHERE a.tradeDate>='{}' AND a.tradeDate <= '{}' AND a.srcFlag="K"
            ORDER BY a.tradeDate, a.code;
        """.format(start_date, end_date, start_date, end_date), con, parse_dates=['tradeDate'], index_col='tradeDate')
    return ytd_trades

In [6]:
def get_quarter_trades(year, quarter, ytd_trades):
    if quarter == 1:
        start = '{}-01-01'.format(year)
        end = '{}-03-31'.format(year)
    elif quarter == 2:
        start = '{}-04-01'.format(year)
        end = '{}-06-30'.format(year)
    elif quarter == 3:
        start = '{}-07-01'.format(year)
        end = '{}-09-30'.format(year)
    elif quarter == 4:
        start = '{}-10-01'.format(year)
        end = '{}-12-31'.format(year)
    else:
        return None
    return ytd_trades[start:end]

In [7]:
def format_2f(df):
    t = df.copy()
    columns = ['JPResearch', 'JPExec', 'JPDis', 'res_target', 'balance_usd']
    t[columns] = t[columns].applymap(lambda x: '$ {:12,.0f}'.format(x) if x != 0 else '')
    t['balance_jpy'] = t['balance_jpy'].apply(lambda x: '¥ {:12,.0f}'.format(x) if x != 0 else '')
    t['rank'] = t['rank'].apply(lambda x: '{:.0f}'.format(x) if not np.isnan(x) else '')
    t['research'] = t['research'].apply(lambda x: '{:5.2f}%'.format(x) if x > 0 else '')
    t['accrued'] = t['accrued'].apply(lambda x: '{:5.0f}%'.format(x) if not np.isnan(x) else '')
    t['exec_target'] = t['exec_target'].apply(lambda x: '{:5.0f}%'.format(x) if x > 0 else '')
    return t

In [38]:
def format_asia_2f(df):
    t = df.copy()
    columns = ['asiaResearch', 'asiaExecution', 'asiaDeal', 'res_target', 'balance_usd']
    t[columns] = t[columns].applymap(lambda x: '$ {:12,.0f}'.format(x) if x != 0 else '')
    t['balance_hkd'] = t['balance_hkd'].apply(lambda x: '$ {:12,.0f}'.format(x) if x != 0 else '')
    t['HCSwaps'] = t['HCSwaps'].apply(lambda x: '$ {:12,.0f}'.format(x) if x != 0 else '')
    t['rank'] = t['rank'].apply(lambda x: '{:.0f}'.format(x) if not np.isnan(x) else '')
    t['research'] = t['research'].apply(lambda x: '{:5.2f}%'.format(x) if x > 0 else '')
    t['accrued'] = t['accrued'].apply(lambda x: '{:5.0f}%'.format(x) if not np.isnan(x) else '')
    t['execution'] = t['execution'].apply(lambda x: '{:5.0f}%'.format(x) if x > 0 else '')
    return t

In [122]:
def get_csa_brokers(date):
    quarter = calculate_quarter(date.month)
    prev_quarter = 4 if quarter == 1 else quarter - 1
    date_str = date.strftime('%Y-%m-%d')
    
    return pd.read_sql("""
    SELECT d.name AS brokers, c.balance_usd AS balance,
      c.budget_target AS research, d.region
    FROM brokers a
    INNER JOIN broker_csa b ON a.id=b.master_broker_id
      INNER JOIN broker_ranks c ON b.sub_broker_id=c.broker_id
      INNER JOIN brokers d ON b.sub_broker_id=d.id
    WHERE a.region="Japan" AND b.start_date <= "{}"
      AND (b.end_date IS NULL OR b.end_date >= "{}")
      AND c.year={}
      AND c.quarter={}
    """.format(date_str, date_str, date.year, prev_quarter), con)

In [10]:
def calculate_soft(quarter_trades, year, month):
    month_key = '{}-{:02d}'.format(year, month)
    if month_key in quarter_trades.index:
        mon_trades = quarter_trades[month_key]
        soft = "{:,.0f}".format(mon_trades[(mon_trades['brokerName'] == 'Soft')]['JPResearch'].sum())
        soft_ms = "{:,.0f}".format(mon_trades[mon_trades['brokerName'] == 'Soft']['JPExec'].sum())
        return soft, soft_ms
    else:
        return 0, 0

In [11]:
def get_fx_rate(price_date):
    """ return tuple of fx rate for USDJPY and USDHKD
    """
    query = """SELECT a.quote, a.rate
                    FROM t06DailyCrossRate a
                    WHERE a.priceDate="{}" AND a.quote IN ("JPY", "HKD") AND a.base="USD"
    """

    t = pd.read_sql(query.format(price_date.strftime('%Y-%m-%d')), con, index_col="quote")
    return t.loc['JPY', 'rate'], t.loc['HKD', 'rate']

In [14]:
def get_ranks(year, quarter, region='Japan'):
    return pd.read_sql('''
                SELECT b.name AS brokers, a.rank, a.balance_usd AS balance, 
                        a.budget_target AS research
                FROM broker_ranks a
                INNER JOIN brokers b ON a.broker_id=b.id
                WHERE a.year={} AND a.quarter='Q{}' AND b.region='{}'
        '''.format(year, quarter, region), con, index_col='brokers')

In [13]:
def get_annual_budget(for_year):
    query = """SELECT a.region, a.amount
                        FROM commission_budget a
                        WHERE a.year={}
    """.format(for_year)

    budget_df = pd.read_sql(query, con, index_col='region')
    return budget_df.loc['Japan', 'amount'], budget_df.loc['NonJapan', 'amount']

In [8]:
def calculate_columns(quarter_trades, jp_ranks_df, jp_quarter_commission_budget, usd_jpy, 
                      ubs_include_list=[], clsa_asia_target=0):
    
    def zero_out_ubs_include(df, ubs_include_list):
        """ assume index is brokerName, and balance_usd column is already created
        """
        t = df.copy()
        for broker in ubs_include_list:
            t.loc[broker, 'balance_usd'] = 0
            
        return t
    
    rank_df = jp_ranks_df.copy()
    balance = rank_df['balance']
    for broker in ubs_include_list:
        rank_df.loc['UBS', 'research'] += rank_df.loc[broker, 'research']
    
    rank_df.loc['UBS', 'research'] += clsa_asia_target
        
    ranked_df = (quarter_trades
             .groupby(['brokerName', 'currencyCode'])
             .sum()
             .loc[(slice(None), ['JPY', 'USD']), ['JPResearch', 'JPExec', 'JPDis']]
             .groupby(level=0).sum()
             .reset_index()
             .set_index('brokerName')
             .merge(rank_df, how='right', left_index=True,
                    right_index=True)  # some names removed like Barclays and Softs
             .fillna(0)
             .sort_values(by='rank', axis=0)
                )
    bal = balance.reindex(ranked_df.index)
    table = (ranked_df
             .assign(res_target=lambda df: df['research'] * jp_quarter_commission_budget / 100 + (bal if bal is not None else 0) )
             .assign(balance_usd=lambda df: df['res_target'] - df['JPResearch'] )
             .pipe(zero_out_ubs_include, ubs_include_list)
             .assign(balance_jpy=lambda df: df['balance_usd'] * usd_jpy)
             .assign(accrued=lambda df: (df['JPExec'] + df['JPDis']) * 100 / (df['JPExec'].sum() + df['JPDis'].sum()))
             .reset_index()
             .set_index('rank')
             )
    
    return table

In [9]:
def calculate_commission(quarter_trades, jp_ranks_df, jp_quarter_commission_budget, usd_jpy,
                        ubs_include_list=[], clsa_asia_target=0):
    
    table = calculate_columns(quarter_trades, jp_ranks_df, jp_quarter_commission_budget, usd_jpy, ubs_include_list, clsa_asia_target)

    exec_target = [11, 11, 10, 10, 10, 7, 7, 7, 7, 7, 3, 3, 3, 2, 1]
    if len(exec_target) < len(table.index):
        exec_target = exec_target + [0] * (len(table.index) - len(exec_target))
    table['exec_target'] = pd.Series(exec_target, index=table.index)
    
    return (table
            .reset_index()
            .append(table[['research', 'res_target', 'JPResearch', 'JPExec',
                           'JPDis', 'balance_usd', 'balance_jpy', 'exec_target']].sum(), ignore_index=True)
            .pipe(format_2f)
            [['rank', 'brokers', 'research', 'res_target', 'JPResearch', 'JPExec',
              'JPDis', 'balance_usd', 'balance_jpy', 'exec_target', 'accrued']]
            )

In [35]:
def calculate_columns_asia(quarter_trades, ranks_df, asia_quarter_commission_budget, usd_hkd,
                      request_date, ubs_include_list=[]):

    def zero_out_ubs_include(df, ubs_list):
        """ assume index is brokerName, and balance_usd column is already created
        """
        t = df.copy()
        for broker in ubs_list:
            t.loc[broker, 'balance_usd'] = 0

        return t

    # quarter = calculate_quarter(request_date.month)
    # budget_ratio = (request_date.month - (quarter - 1) * 3) / 3.0

    rank_df = ranks_df.copy()
    balance = rank_df['balance']
    for broker in ubs_include_list:
        rank_df.loc['UBS', 'research'] += rank_df.loc[broker, 'research']
        rank_df.loc[broker, 'research'] = 0

    ranked_df = (quarter_trades[(quarter_trades['currencyCode'] != "JPY") & (quarter_trades['currencyCode'] != "USD")]
                 .groupby(['brokerName'])
                 .sum()[['asiaResearch', 'asiaExecution', 'asiaDeal', 'HCSwaps']]
                 .assign(asiaYTD=lambda x: x.asiaResearch + x.asiaExecution)
                 .merge(rank_df, how='right', left_index=True, right_index=True)
                 .fillna(0)
                 .sort_values(by='rank')
                 )
    bal = balance.reindex(ranked_df.index)
    table = (ranked_df.assign(res_target=lambda df: df['research'] * asia_quarter_commission_budget / 100 +
                                                    (bal if bal is not None else 0))
             .assign(balance_usd=lambda df: df['res_target'] - df['asiaResearch'])
             .pipe(zero_out_ubs_include, ubs_include_list)
             .assign(balance_hkd=lambda df: df['balance_usd'] * usd_hkd)
             .assign(accrued=lambda df: df['asiaExecution'] * 100 / df['asiaExecution'].sum())
             .reset_index()
             .set_index('rank')
             )

    return table

In [39]:
def calculate_commission_asia(quarter_trades, ranks_df, asia_quarter_commission_budget, usd_hkd, request_date,
                              ubs_include_list=[]):
    table = calculate_columns_asia(quarter_trades, ranks_df, asia_quarter_commission_budget, usd_hkd, request_date,
                                   ubs_include_list)

    exec_target = [15, 15, 15, 15, 15, 5, 5, 5, 5, 5]
    if len(exec_target) < len(table.index):
        exec_target = exec_target + [0] * (len(table.index) - len(exec_target))

    table['execution'] = pd.Series(exec_target, index=table.index)

    return (table
            .reset_index()
            .append(table[['research', 'res_target', 'asiaResearch', 'asiaExecution',
                           'balance_usd', 'balance_hkd', 'execution', 'accrued', 'asiaDeal', 'HCSwaps']].sum(), 
                    ignore_index=True)
            # .fillna(0)
            .pipe(format_asia_2f)
            [['rank', 'brokers', 'research', 'res_target', 'asiaResearch', 'balance_usd', 'balance_hkd',
              'execution', 'accrued', 'asiaExecution', 'asiaDeal', 'HCSwaps']]
            )

In [20]:
# Asia commission budget is 2mm  USD per year
# Japan has gone through a few iterations but it's basically approximately 7.5 mm USD per year
# jp_annual_commission_budget = 7500000  # usd
# asia_annual_commission_budget = 2000000  # usd

jp_annual_commission_budget, asia_annual_commission_budget = get_annual_budget(date.year)

jp_quarter_commission_budget = jp_annual_commission_budget / 4.0
asia_quarter_commission_budget = asia_annual_commission_budget / 4.0

# jp_quarter_commission_budget = 10031527/4.0  # to make it same with old system 2016Q1

In [123]:
get_csa_brokers(date)

                 brokers  balance  research    region
0  Japan Equity Research     0.00      0.97     Japan
1                  Tokai     0.00      1.18     Japan
2                   CLSA 1,839.45     11.98  NonJapan

In [124]:
csa_brokers = get_csa_brokers(date)

In [125]:
nonjapan_indexer = csa_brokers[csa_brokers['region'] == 'NonJapan']['research'].index
csa_brokers.loc[nonjapan_indexer, 'research'] = csa_brokers.loc[nonjapan_indexer, 'research'] * asia_quarter_commission_budget/jp_quarter_commission_budget

In [128]:
csa_brokers

                 brokers  balance  research    region
0  Japan Equity Research     0.00      0.97     Japan
1                  Tokai     0.00      1.18     Japan
2                   CLSA 1,839.45      2.39  NonJapan

In [112]:
jp_ranks_df = get_ranks(prev_year,prev_quarter)

# usd_jpy = 102.66  # 2016Q2
# hkd_jpy = 7.759
usd_jpy, usd_hkd = get_fx_rate(date)
print(usd_jpy, usd_hkd)
quarter_trades = get_quarter_trades(date.year, quarter, ytd_trades)

(102.66, 7.7587000000000002)

In [115]:
csa_brokers[csa_brokers['region'] == 'Japan']['brokers'].tolist()

['Japan Equity Research', 'Tokai']

In [127]:

rank_df = jp_ranks_df.copy()
balance = rank_df['balance']
for broker in csa_brokers['brokers'].tolist():
    rank_df.loc['UBS', 'research'] += rank_df.loc[broker, 'research']

rank_df
# rank_df.loc['UBS', 'research'] += clsa_asia_target

# ranked_df = (quarter_trades
#          .groupby(['brokerName', 'currencyCode'])
#          .sum()
#          .loc[(slice(None), ['JPY', 'USD']), ['JPResearch', 'JPExec', 'JPDis']]
#          .groupby(level=0).sum()
#          .reset_index()
#          .set_index('brokerName')
#          .merge(rank_df, how='right', left_index=True,
#                 right_index=True)  # some names removed like Barclays and Softs
#          .fillna(0)
#          .sort_values(by='rank', axis=0)
#             )

                       rank    balance  research
brokers
BAML                      6  -9,213.41      6.76
Mizuho Securities         2   4,130.79     10.04
Nomura                    1   3,785.51     12.52
Japan Equity Research    17       0.00      0.97
Citi                      4   3,478.94      8.53
Mitsubishi UFJ           10   2,422.00      5.84
Tokai                    15       0.00      1.18
Ichiyoshi                14   2,043.99      2.29
SMBC Nikko                5   2,670.00      7.56
BNP                      13   1,711.57      2.41
Deutsche                 18   1,068.04      0.88
CLSA                     21   4,688.79      0.25
Daiwa                     8   1,376.66      6.47
Jefferies                16   1,024.70      1.09
CS                        9    -683.69      5.90
UBS                      12 -40,516.96      7.21
JP Morgan                 7   1,517.27      6.61
Goldman Sachs             3  -2,000.41      8.94
Okasan                   19   5,403.56      0.85
MS                       11 -48,524.26      5.32
Macquarie                20   2,105.71      0.74

In [94]:
(quarter_trades
             .groupby(['brokerName', 'currencyCode'])
             .sum()
             .loc[(slice(None), ['JPY', 'USD']), ['JPResearch', 'JPExec', 'JPDis']]
             .groupby(level=0).sum()
             .reset_index()
             .set_index('brokerName')
)

                   JPResearch     JPExec      JPDis
brokerName
BAML               159,546.40  58,639.92  90,844.13
BNP                 61,228.00  22,264.73  30,366.13
CLSA                 8,874.84   3,227.22       0.00
CS                 143,476.89  52,173.41  90,328.84
Citi               214,984.23  78,176.08 133,581.26
Daiwa              160,650.17  58,418.24  95,230.06
Deutsche            22,036.25   8,013.18       0.00
Goldman Sachs      223,356.64  81,220.59 121,547.67
Ichiyoshi           56,469.51  20,534.37       0.00
JP Morgan          164,270.29  59,734.65  93,597.33
Jefferies           27,555.67  10,020.24       0.00
MS                 104,899.26  85,594.50     642.88
Macquarie           18,183.97   6,612.35       0.00
Mitsubishi UFJ     147,925.11  53,790.95  85,298.06
Mizuho Securities  256,774.02  93,372.37 137,763.01
Nomura             319,686.68 116,249.70 125,753.01
Okasan              23,005.53   8,365.65       0.00
SMBC Nikko         193,576.95  70,391.62 133,192.52
Soft               164,831.01  59,938.55       0.00
UBS                220,370.95  80,134.89   4,048.58

### new requirement
need to restart balance_usd for specific broker from some month. for ex: MS from 2017 Jun

In [16]:
%time ytd_trades = get_ytd_trades(date)

CPU times: user 1.68 s, sys: 28.8 ms, total: 1.71 s
Wall time: 2.18 s

In [21]:
# calculate_commission(quarter1_trades, jp_ranks_df, jp_quarter_commission_budget, 
#                      usd_jpy, ubs_include_list=['Tokai', 'Japan Equity Research'], clsa_asia_target=0)

In [22]:
# broker rank for 2016Q2
# data = {
#     'brokers': ['BAML', 'Mizuho Securities', 'Nomura', 'Japan Equity Research',
#                 'Citi', 'Mitsubishi UFJ', 'Tokai', 'Ichiyoshi', 'SMBC Nikko',
#                 'BNP', 'Deutsche', 'CLSA', 'Daiwa', 'Jefferies',
#                 'CS', 'UBS', 'JP Morgan', 'Goldman Sachs', 'Okasan',
#                 'MS', 'Macquarie'
#                 ],
#     'rank': [6, 2, 1, 17,
#              4, 10, 15, 14, 5,
#              13, 18, 21, 8, 16,
#              9, 12, 7, 3, 19,
#              11, 20],
#     'research': map(lambda x: x, [6.762165, 10.039098, 12.522392, 0.965961,
#                                   8.526189, 5.841530, 1.182470, 2.287421, 7.562959,
#                                   2.414071, 0.878525, 0.249817, 6.466847, 1.094201,
#                                   5.895336, 4.8135476, 6.608858, 8.940196, 0.846049,
#                                   5.319596, 0.741125
#                                   ])
# }

# jp_ranks_df = pd.DataFrame(data).set_index('brokers')



jp_ranks_df = get_ranks(prev_year,prev_quarter)

# usd_jpy = 102.66  # 2016Q2
# hkd_jpy = 7.759
usd_jpy, usd_hkd = get_fx_rate(date)
print(usd_jpy, usd_hkd)
quarter_trades = get_quarter_trades(date.year, quarter, ytd_trades)

(102.66, 7.7587000000000002)

In [132]:
asia_columns = calculate_columns_asia(quarter_trades, nonjp_ranks_df, asia_quarter_commission_budget, usd_hkd, date, ['Kim Eng', 'Samsung', 'CIMB'])
# calculate_columns(quarter_trades, jp_ranks_df, jp_quarter_commission_budget, usd_jpy, ubs_include_list, clsa_asia_target = 1.950146).pipe(check)

In [24]:
# out_df = (jp_ranks_df.merge(t, how='inner', left_index=True, right_on='brokers')
#           .rename(columns={'research': 'budget_target', 'id': 'broker_id'})
#           .assign(year=2016)
#           .assign(quarter='Q1')
#            .drop(['name', 'brokers'], axis=1)
# )
# out_df.to_sql(name='broker_ranks', con=engine, if_exists = 'append', index=False)
## #out_df

In [25]:
table = calculate_commission(quarter_trades, jp_ranks_df, jp_quarter_commission_budget, 
                             usd_jpy, ubs_include_list = ['Tokai', 'Japan Equity Research'], clsa_asia_target = 1.950146)
qtd_clearing = "{:,.0f}".format(quarter_trades['Clearing'].sum())
ytd_clearing = "{:,.0f}".format(ytd_trades['Clearing'].sum())

months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
mon1, mon2, mon3 = [months[(quarter - 1) * 3 + i] for i in range(3)]  # get month names for quarter
m1, m2, m3 = [(quarter - 1) * 3 + i for i in range(1, 4)]  # get the month numbers for quarter

soft1, soft_ms1 = calculate_soft(quarter_trades, date.year, m1)
soft2, soft_ms2 = calculate_soft(quarter_trades, date.year, m2)
soft3, soft_ms3 = calculate_soft(quarter_trades, date.year, m3)

soft_qtd = '{:,.0f}'.format(quarter_trades[(quarter_trades['brokerName'] == 'Soft') &
                          (quarter_trades['currencyCode'] == 'JPY')]['JPResearch'].sum())
soft_msqtd = '{:,.0f}'.format(quarter_trades[(quarter_trades['brokerName'] == 'Soft') &
                          (quarter_trades['currencyCode'] == 'JPY')]['JPExec'].sum())

In [26]:
table

,rank,brokers,research,res_target,JPResearch,JPExec,JPDis,balance_usd,balance_jpy,exec_target,accrued
0,1,Nomura,12.52%,"$ 317,832","$ 319,687","$ 116,250","$ 125,753","$ -1,854","¥ -190,371",11%,11%
1,2,Mizuho Securities,10.04%,"$ 255,899","$ 256,774","$ 93,372","$ 137,763",$ -875,"¥ -89,779",11%,11%
2,3,Goldman Sachs,8.94%,"$ 222,209","$ 223,357","$ 81,221","$ 121,548","$ -1,148","¥ -117,802",10%,10%
3,4,Citi,8.53%,"$ 217,306","$ 214,984","$ 78,176","$ 133,581","$ 2,321","¥ 238,320",10%,10%
4,5,SMBC Nikko,7.56%,"$ 192,340","$ 193,577","$ 70,392","$ 133,193","$ -1,237","¥ -126,978",10%,10%
5,6,BAML,6.76%,"$ 160,374","$ 159,546","$ 58,640","$ 90,844",$ 827,"¥ 84,930",7%,7%
6,7,JP Morgan,6.61%,"$ 167,260","$ 164,270","$ 59,735","$ 93,597","$ 2,989","¥ 306,883",7%,7%
7,8,Daiwa,6.47%,"$ 163,558","$ 160,650","$ 58,418","$ 95,230","$ 2,907","¥ 298,471",7%,7%
8,9,CS,5.90%,"$ 147,164","$ 143,477","$ 52,173","$ 90,329","$ 3,687","¥ 378,557",7%,7%
9,10,Mitsubishi UFJ,5.84%,"$ 148,921","$ 147,925","$ 53,791","$ 85,298",$ 996,"¥ 102,203",7%,7%
10,11,MS,5.32%,"$ 84,885","$ 104,899","$ 85,594",$ 643,"$ -20,014","¥ -2,054,672",3%,4%
11,12,UBS,8.91%,"$ 182,989","$ 220,371","$ 80,135","$ 4,049","$ -37,382","¥ -3,837,673",3%,4%
12,13,BNP,2.41%,"$ 62,254","$ 61,228","$ 22,265","$ 30,366","$ 1,026","¥ 105,290",3%,2%
13,14,Ichiyoshi,2.29%,"$ 59,410","$ 56,470","$ 20,534",,"$ 2,940","¥ 301,851",2%,1%
14,15,Tokai,1.18%,"$ 29,655",,,,,,1%,0%
15,16,Jefferies,1.09%,"$ 28,466","$ 27,556","$ 10,020",,$ 910,"¥ 93,451",,0%
16,17,Japan Equity Research,0.97%,"$ 24,225",,,,,,,0%
17,18,Deutsche,0.88%,"$ 23,100","$ 22,036","$ 8,013",,"$ 1,064","¥ 109,247",,0%
18,19,Okasan,0.85%,"$ 26,621","$ 23,006","$ 8,366",,"$ 3,616","¥ 371,212",,0%
19,20,Macquarie,0.74%,"$ 20,692","$ 18,184","$ 6,612",,"$ 2,508","¥ 257,500",,0%
20,21,CLSA,0.25%,"$ 10,954","$ 8,875","$ 3,227",,"$ 2,079","¥ 213,436",,0%
21,,NaN,104.06%,"$ 2,546,114","$ 2,526,871","$ 966,935","$ 1,142,193","$ -34,638","¥ -3,555,926",99%,

In [29]:
jp_quarter_commission_budget =10031527/4.0
jp_quarter_commission_budget

2507881.75

In [30]:
nonjp_ranks_df = get_ranks(prev_year,prev_quarter, 'NonJapan')

In [31]:
# q1 = get_quarter_trades(2016, 1, ytd_trades)

For monthly balance need to divided res_target by 3 to find balance, but for quarter calculation, do not need to divide by 3.

In [32]:
# # debug duplicated trades for 2016Q1
# ubsw = q1[q1['brokerCode'] == 'UBSW']
# jan14 = ubsw.loc['2016-01-14']
# jan14[jan14['code'] == '6305']

In [33]:
## debug duplicated trades for 2016Q2
# smbc = quarter_trades[quarter_trades['brokerCode'] == 'NIKK']
# print(smbc['JPResearch'].sum())
# smbc.loc['2016-05-17':'2016-05-17']['JPResearch'].sum() #[['code', 'fundCode', 'orderType', 'side', 'swap', 'JPResearch']]
# smbc.loc['2016-05-17':'2016-05-17']#[['code', 'fundCode', 'orderType', 'side', 'swap', 'JPResearch']]

In [87]:
def check(df):
    t = df.copy()
    columns = [ 'balance_usd', 'asiaResearch']
    t[columns] = t[columns].applymap(lambda x: '{:12.7f}'.format(x) if x != 0 else '')
    
    return t

In [88]:
calculate_columns_asia(quarter_trades, nonjp_ranks_df, asia_quarter_commission_budget, usd_hkd, date, ['Kim Eng', 'Samsung', 'CIMB']).pipe(check)

,brokers,asiaResearch,asiaExecution,asiaDeal,HCSwaps,asiaYTD,balance,research,res_target,balance_usd,balance_hkd,accrued
rank,,,,,,,,,,,,
1,CLSA,11722.4009160,"3,649.50",0.00,0.00,"15,371.90","1,839.45",11.98,"61,736.52",50014.1167980,"388,044.53",2.77
2,BAML,48945.0216897,"13,471.51",0.00,"34,234.87","62,416.53","-1,241.92",10.77,"52,615.11",3670.0839643,"28,475.08",10.23
3,JP Morgan,45729.8298718,"15,272.45",0.00,0.00,"61,002.28","11,460.22",9.06,"56,761.83",11032.0013372,"85,593.99",11.60
4,MS,34406.7006950,"9,424.44",0.00,"27,413.26","43,831.14","-11,200.10",8.20,"29,819.21",-4587.4884940,"-35,592.95",7.16
5,CS,35036.0256174,"9,158.82",0.00,"33,766.86","44,194.85","-2,657.09",7.63,"35,500.85",464.8230206,"3,606.42",6.95
6,Citi,30659.9640902,"8,459.32",0.00,"21,201.01","39,119.28","-2,273.77",6.54,"30,441.94",-218.0191772,"-1,691.55",6.42
7,Nomura,23058.6731889,"7,048.50",0.00,"1,845.52","30,107.17",-727.88,5.84,"28,468.82",5410.1418891,"41,975.67",5.35
8,Jefferies,22436.1694272,"7,492.59",0.00,0.00,"29,928.76","9,132.31",4.93,"33,798.02",11361.8469528,"88,153.16",5.69
9,Cantor,17474.4262117,"5,836.01",0.00,0.00,"23,310.43","5,483.36",4.43,"27,632.57",10158.1409573,"78,813.97",4.43
10,KGI Securities,20458.7742941,"10,229.40",0.00,0.00,"30,688.17",227.84,4.03,"20,362.13",-96.6440661,-749.83,7.77
11,Goldman Sachs,16478.0490755,"5,409.12",0.00,"4,888.05","21,887.17","9,190.93",3.73,"27,815.95",11337.8996395,"87,967.36",4.11
12,Yuanta,16022.4036286,"8,011.19",0.00,0.00,"24,033.59",630.26,3.22,"16,738.66",716.2579834,"5,557.23",6.08
13,Macquarie,12424.1529377,"4,149.27",0.00,0.00,"16,573.43","10,161.80",2.92,"24,758.82",12334.6650093,"95,700.97",3.15
14,Deutsche,9535.1540789,"3,184.02",0.00,0.00,"12,719.17","8,393.36",2.62,"21,480.66",11945.5079981,"92,681.61",2.42
15,Fubon Securities,13387.1570653,"6,693.58",0.00,0.00,"20,080.73",908.06,2.62,"13,999.27",612.1169907,"4,749.23",5.08
16,UBS,33617.2532176,"11,227.92",0.00,0.00,"44,845.17","1,102.32",7.85,"40,365.55",6748.2945184,"52,357.99",8.53
17,Daiwa,11879.1071251,"2,969.78",0.00,0.00,"14,848.88","2,714.66",2.22,"13,791.24",1912.1320849,"14,835.66",2.26
18,CIMB,,0.00,0.00,0.00,0.00,0.00,0.00,0.00,,0.00,0.00
19,Samsung,,0.00,0.00,0.00,0.00,0.00,0.00,0.00,,0.00,0.00
20,Kim Eng,,0.00,0.00,0.00,0.00,0.00,0.00,0.00,,0.00,0.00
21,Mizuho,,0.00,0.00,0.00,0.00,"5,374.20",1.01,"10,412.62",10412.6167520,"80,788.37",0.00
22,RHB OSK Securities Hong Kong Lim,,0.00,0.00,0.00,0.00,"8,128.43",0.40,"10,143.75",10143.7472070,"78,702.29",0.00

In [40]:
calculate_commission_asia(quarter_trades, nonjp_ranks_df, asia_quarter_commission_budget, usd_hkd, date, ['Kim Eng', 'Samsung', 'CIMB'] )

,rank,brokers,research,res_target,asiaResearch,balance_usd,balance_hkd,execution,accrued,asiaExecution,asiaDeal,HCSwaps
0,1,CLSA,11.98%,"$ 61,737","$ 11,722","$ 50,014","$ 388,045",15%,3%,"$ 3,650",,
1,2,BAML,10.77%,"$ 52,615","$ 48,945","$ 3,670","$ 28,475",15%,10%,"$ 13,472",,"$ 34,235"
2,3,JP Morgan,9.06%,"$ 56,762","$ 45,730","$ 11,032","$ 85,594",15%,12%,"$ 15,272",,
3,4,MS,8.20%,"$ 29,819","$ 34,407","$ -4,587","$ -35,593",15%,7%,"$ 9,424",,"$ 27,413"
4,5,CS,7.63%,"$ 35,501","$ 35,036",$ 465,"$ 3,606",15%,7%,"$ 9,159",,"$ 33,767"
5,6,Citi,6.54%,"$ 30,442","$ 30,660",$ -218,"$ -1,692",5%,6%,"$ 8,459",,"$ 21,201"
6,7,Nomura,5.84%,"$ 28,469","$ 23,059","$ 5,410","$ 41,976",5%,5%,"$ 7,048",,"$ 1,846"
7,8,Jefferies,4.93%,"$ 33,798","$ 22,436","$ 11,362","$ 88,153",5%,6%,"$ 7,493",,
8,9,Cantor,4.43%,"$ 27,633","$ 17,474","$ 10,158","$ 78,814",5%,4%,"$ 5,836",,
9,10,KGI Securities,4.03%,"$ 20,362","$ 20,459",$ -97,$ -750,5%,8%,"$ 10,229",,
10,11,Goldman Sachs,3.73%,"$ 27,816","$ 16,478","$ 11,338","$ 87,967",,4%,"$ 5,409",,"$ 4,888"
11,12,Yuanta,3.22%,"$ 16,739","$ 16,022",$ 716,"$ 5,557",,6%,"$ 8,011",,
12,13,Macquarie,2.92%,"$ 24,759","$ 12,424","$ 12,335","$ 95,701",,3%,"$ 4,149",,
13,14,Deutsche,2.62%,"$ 21,481","$ 9,535","$ 11,946","$ 92,682",,2%,"$ 3,184",,
14,15,Fubon Securities,2.62%,"$ 13,999","$ 13,387",$ 612,"$ 4,749",,5%,"$ 6,694",,
15,16,UBS,7.85%,"$ 40,366","$ 33,617","$ 6,748","$ 52,358",,9%,"$ 11,228",,
16,17,Daiwa,2.22%,"$ 13,791","$ 11,879","$ 1,912","$ 14,836",,2%,"$ 2,970",,
17,18,CIMB,,,,,,,0%,,,
18,19,Samsung,,,,,,,0%,,,
19,20,Kim Eng,,,,,,,0%,,,
20,21,Mizuho,1.01%,"$ 10,413",,"$ 10,413","$ 80,788",,0%,,,
21,22,RHB OSK Securities Hong Kong Lim,0.40%,"$ 10,144",,"$ 10,144","$ 78,702",,0%,,,
22,,NaN,100.00%,"$ 556,644","$ 403,271","$ 153,372","$ 1,189,969",100%,100%,"$ 131,687",,"$ 123,350"

In [41]:
qtd_sum = (quarter_trades
 .groupby(['brokerName'])
 .sum()[['JPResearch', 'JPDis', 'JPExec', 'asiaDeal', 'asiaResearch', 'asiaExecution', 'HCSwaps']]
 .assign(japan_qtd=lambda df: df['JPResearch'] + df['JPExec'] + df['JPDis'])
 .assign(asia_qtd = lambda df: df['asiaDeal'] + df['asiaResearch'] + df['asiaExecution'])
           [['japan_qtd', 'asia_qtd']]
)
qtd_sum

                   japan_qtd  asia_qtd
brokerName
BAML              309,030.45 62,416.53
BNP               113,858.85      0.00
CLSA               12,102.06 15,371.90
CS                285,979.15 44,194.85
Cantor                  0.00 23,310.43
Citi              426,741.58 39,119.28
Daiwa             314,298.47 14,848.88
Deutsche           30,049.43 12,719.17
Fubon Securities        0.00 20,080.73
Goldman Sachs     426,124.90 21,887.17
Ichiyoshi          77,003.88      0.00
JP Morgan         317,602.28 61,002.28
Jefferies          37,575.92 29,928.76
KGI Securities          0.00 30,688.17
MS                191,136.64 43,831.14
Macquarie          24,796.32 16,573.43
Mitsubishi UFJ    287,014.12      0.00
Mizuho Securities 487,909.40      0.00
Nomura            561,689.39 30,107.17
Okasan             31,371.18      0.00
SMBC Nikko        397,161.09      0.00
Soft              224,769.56      0.00
UBS               304,554.42 44,845.17
Yuanta                  0.00 24,033.59

In [42]:
def format_all_2f(df):
    t = df.copy()
    t = t.applymap(lambda x: '$ {:12,.0f}'.format(x) if x != 0 and type(x) != str else (x if type(x) == str else ''))
    return t

In [72]:
def get_csa_payment(year, quarter):
    csa_cum_payment = pd.read_sql("""
        SELECT a.name AS brokerName,
            IF(a.region="Japan", IF(b.currency_code="JPY", SUM(b.amount) / c.finalFXRate, SUM(b.amount)), 0) AS JPResearch,
            IF(a.region="NonJapan", IF(b.currency_code="JPY", SUM(b.amount) / c.finalFXRate, SUM(b.amount)), 0) AS asiaResearch
        FROM brokers a
        INNER JOIN csa_payment b ON a.id=b.broker_id
          LEFT JOIN (
            SELECT DISTINCT (TRUNCATE((MONTH(a.processDate) - 1) / 3, 0) + 1) AS quarter, a.finalFXRate
        FROM t05PortfolioReportEvent a
        WHERE YEAR(a.processDate)={} AND a.dataType="SUB_RED"
          AND MONTH(a.processDate) IN (3,6,9,12)
        ORDER BY a.processDate DESC
            ) c ON b.quarter = CONCAT("Q", c.quarter)
        WHERE b.year={} AND b.quarter <= "Q{}"
        GROUP BY a.name;
        """.format(year, year, quarter), con, index_col="brokerName")
    return csa_cum_payment

In [74]:
csa_cum_payment = get_csa_payment(date.year, prev_quarter)

In [54]:
date.year, prev_quarter

(2016, 1)

In [75]:
csa_cum_payment

                       JPResearch  asiaResearch
brokerName
CIMB                         0.00      4,356.00
Japan Equity Research   20,009.09          0.00
Kim Eng                      0.00      5,988.00
Samsung                      0.00      5,442.00
Tokai                   28,647.51          0.00

In [70]:
(ytd_trades
 .groupby('brokerName')
 .sum()[['JPResearch', 'JPDis', 'JPExec', 'asiaDeal', 'asiaResearch', 'asiaExecution', 'HCSwaps']]
 .append(csa_cum_payment)
 .fillna(0)
)

,HCSwaps,JPDis,JPExec,JPResearch,asiaDeal,asiaExecution,asiaResearch
brokerName,,,,,,,
BAML,"58,358.55","132,402.66","143,046.24","360,270.12",0.00,"29,655.80","99,909.82"
BNP,0.00,"45,879.43","42,298.99","116,322.23",0.00,0.00,0.00
Barclays,0.00,0.00,"2,178.88","5,991.92",0.00,0.00,0.00
CLSA,0.00,0.00,"3,336.87","9,176.39",0.00,"15,643.81","52,446.47"
CS,"95,450.24","131,379.27","101,550.71","279,264.46",0.00,"29,001.51","106,324.18"
Cantor,0.00,0.00,0.00,0.00,0.00,"9,785.28","29,299.89"
Citi,"50,682.46","191,480.62","135,948.60","373,858.65",0.00,"17,480.73","64,136.74"
Daiwa,0.00,"190,785.29","130,721.14","359,483.14",0.00,"6,384.32","25,270.94"
Deutsche,0.00,"1,120.90","17,058.33","46,910.42",0.00,"5,356.07","16,038.86"
Fubon Securities,0.00,0.00,0.00,0.00,0.00,"15,206.25","30,412.49"
Goldman Sachs,"4,888.05","175,426.86","146,712.62","403,459.72",0.00,"10,813.69","32,660.98"
Ichiyoshi,0.00,0.00,"32,433.32","89,191.62",0.00,0.00,0.00
JP Morgan,0.00,"105,841.57","106,005.24","291,514.41",0.00,"26,154.08","79,172.37"
Jefferies,0.00,0.00,"23,844.15","65,571.41",0.00,"11,385.04","34,091.19"
KGI Securities,0.00,0.00,0.00,0.00,0.00,"17,505.44","35,010.89"
MS,"64,757.19","9,361.37","185,875.72","322,911.26",0.00,"21,116.34","71,750.64"
Macquarie,0.00,0.00,"11,919.27","32,778.00",0.00,"9,737.97","29,168.45"
Mitsubishi UFJ,0.00,"175,952.20","125,727.89","345,751.71",0.00,0.00,0.00
Mizuho Securities,0.00,"221,777.94","185,151.04","509,165.37",0.00,0.00,0.00
Nomura,"12,705.07","230,726.01","193,839.19","533,057.78",0.00,"14,586.81","49,445.63"
Okasan,0.00,0.00,"17,598.75","48,396.57",0.00,0.00,0.00
RHB OSK Securities Hong Kong Lim,0.00,0.00,0.00,0.00,0.00,91.13,181.91
SMBC Nikko,0.00,"217,883.03","143,576.18","394,834.50",0.00,0.00,0.00
Soft,0.00,0.00,"123,286.76","339,038.59",0.00,0.00,0.00
UBS,0.00,"19,234.88","169,307.70","465,596.18",0.00,"22,667.14","67,878.55"
Yuanta,0.00,0.00,0.00,0.00,0.00,"13,224.33","29,576.58"
CIMB,0.00,0.00,0.00,0.00,0.00,0.00,"4,356.00"
Japan Equity Research,0.00,0.00,0.00,"20,009.09",0.00,0.00,0.00
Kim Eng,0.00,0.00,0.00,0.00,0.00,0.00,"5,988.00"
Samsung,0.00,0.00,0.00,0.00,0.00,0.00,"5,442.00"
Tokai,0.00,0.00,0.00,"28,647.51",0.00,0.00,0.00

In [77]:
(ytd_trades
 .groupby('brokerName')
 .sum()[['JPResearch', 'JPDis', 'JPExec', 'asiaDeal', 'asiaResearch', 'asiaExecution', 'HCSwaps']]
 .append(csa_cum_payment)
 .fillna(0)
 .assign(japan_exe_ytd = lambda df: df['JPExec'] + df['JPDis'])
 .assign(japan_ytd = lambda df: df['JPResearch'] + df['JPExec'] + df['JPDis'])
 .assign(asia_ytd = lambda df: df['asiaResearch'] + df['asiaExecution'] + df['asiaDeal'])  # + csa difference
 .assign(total_ytd = lambda df: df['japan_ytd'] + df['asia_ytd'])
 .merge(qtd_sum, how='left', left_index=True, right_index=True)
 .assign(total_qtd = lambda df: df['japan_qtd'] + df['asia_qtd'])
 .drop('Soft', axis=0)
 .fillna(0)
 .sort_values('total_ytd', ascending=False)
 .reset_index()
 .pipe(format_all_2f)
 [['brokerName', 'japan_qtd', 'JPResearch', 'japan_exe_ytd', 'japan_ytd', 'asia_qtd', 'asia_ytd', 'total_qtd', 'total_ytd']]
)

,brokerName,japan_qtd,JPResearch,japan_exe_ytd,japan_ytd,asia_qtd,asia_ytd,total_qtd,total_ytd
0,Nomura,"$ 561,689","$ 533,058","$ 424,565","$ 957,623","$ 30,107","$ 64,032","$ 591,797","$ 1,021,655"
1,Mizuho Securities,"$ 487,909","$ 509,165","$ 406,929","$ 916,094",,,"$ 487,909","$ 916,094"
2,Citi,"$ 426,742","$ 373,859","$ 327,429","$ 701,288","$ 39,119","$ 81,617","$ 465,861","$ 782,905"
3,Goldman Sachs,"$ 426,125","$ 403,460","$ 322,139","$ 725,599","$ 21,887","$ 43,475","$ 448,012","$ 769,074"
4,BAML,"$ 309,030","$ 360,270","$ 275,449","$ 635,719","$ 62,417","$ 129,566","$ 371,447","$ 765,285"
5,SMBC Nikko,"$ 397,161","$ 394,835","$ 361,459","$ 756,294",,,"$ 397,161","$ 756,294"
6,UBS,"$ 304,554","$ 465,596","$ 188,543","$ 654,139","$ 44,845","$ 90,546","$ 349,400","$ 744,684"
7,Daiwa,"$ 314,298","$ 359,483","$ 321,506","$ 680,990","$ 14,849","$ 31,655","$ 329,147","$ 712,645"
8,CS,"$ 285,979","$ 279,264","$ 232,930","$ 512,194","$ 44,195","$ 135,326","$ 330,174","$ 647,520"
9,Mitsubishi UFJ,"$ 287,014","$ 345,752","$ 301,680","$ 647,432",,,"$ 287,014","$ 647,432"
10,MS,"$ 191,137","$ 322,911","$ 195,237","$ 518,148","$ 43,831","$ 92,867","$ 234,968","$ 611,015"
11,JP Morgan,"$ 317,602","$ 291,514","$ 211,847","$ 503,361","$ 61,002","$ 105,326","$ 378,605","$ 608,688"
12,BNP,"$ 113,859","$ 116,322","$ 88,178","$ 204,501",,,"$ 113,859","$ 204,501"
13,Jefferies,"$ 37,576","$ 65,571","$ 23,844","$ 89,416","$ 29,929","$ 45,476","$ 67,505","$ 134,892"
14,Ichiyoshi,"$ 77,004","$ 89,192","$ 32,433","$ 121,625",,,"$ 77,004","$ 121,625"
15,Deutsche,"$ 30,049","$ 46,910","$ 18,179","$ 65,090","$ 12,719","$ 21,395","$ 42,769","$ 86,485"
16,Macquarie,"$ 24,796","$ 32,778","$ 11,919","$ 44,697","$ 16,573","$ 38,906","$ 41,370","$ 83,604"
17,CLSA,"$ 12,102","$ 9,176","$ 3,337","$ 12,513","$ 15,372","$ 68,090","$ 27,474","$ 80,604"
18,Okasan,"$ 31,371","$ 48,397","$ 17,599","$ 65,995",,,"$ 31,371","$ 65,995"
19,KGI Securities,,,,,"$ 30,688","$ 52,516","$ 30,688","$ 52,516"
20,Fubon Securities,,,,,"$ 20,081","$ 45,619","$ 20,081","$ 45,619"
21,Yuanta,,,,,"$ 24,034","$ 42,801","$ 24,034","$ 42,801"
22,Cantor,,,,,"$ 23,310","$ 39,085","$ 23,310","$ 39,085"
23,Tokai,,"$ 28,648",,"$ 28,648",,,,"$ 28,648"
24,Japan Equity Research,,"$ 20,009",,"$ 20,009",,,,"$ 20,009"
25,Barclays,,"$ 5,992","$ 2,179","$ 8,171",,,,"$ 8,171"
26,Kim Eng,,,,,,"$ 5,988",,"$ 5,988"
27,Samsung,,,,,,"$ 5,442",,"$ 5,442"
28,CIMB,,,,,,"$ 4,356",,"$ 4,356"
29,RHB OSK Securities Hong Kong Lim,,,,,,$ 273,,$ 273

In [46]:
type("str") == str
# (q1[q1['currencyCode'] != "JPY"]
#  .groupby(['brokerName', 'currencyCode'])
#  .sum()[['asiaResearch']]
#  .unstack()
#  .fillna(0)
#  )

True

In [47]:
# q2jpm = ytd_trades #.loc['2017-04-03':]  #,ytd_trades['brokerCode'] == 'JPMF']
# q2jpm[(q2jpm['brokerCode'] == 'RHBO') & (q2jpm['currencyCode'] != 'JPY')]

In [48]:
# from IPython.display import display, HTML
#HTML(q1[(q1['currencyCode'] == 'HKD') & (q1['brokerCode'] == 'MERT')].to_html())
#HTML(q1[(q1['currencyCode'] != 'JPY') & (q1['brokerName'] == 'Nomura')].to_html())
# q1[(q1['currencyCode'] != 'JPY') & (q1['brokerName'] == 'UBS')].count()

In [49]:
# con.close()